#root {
    position:absolute;
    margin: 0; padding: 0; border: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA
}


/*******************************************/
/* 內容群組區背景 */
#div-content-group {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    top:70px; left:300px;
    /*background-color:  #12b553;*/
    width:calc(100% - 300px); height:auto;
    
}


/**/
#function-bar {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    /*background-color: #009688;*/
    background-color:rgb(95, 160, 190);
    width:100%; height:50px;
    /*background-color:#0d3295;*/
}

#form-title-text {
    /*position: absolute;*/
    width:500px; height: 30px;
    /*top: 50px; left: 0px;*/
    margin: 0px auto; padding: 0px; border: 0px;
    font-size: 24px; 
    font-weight: bold;  
    text-align: center;
    color: #000000;
}


/**********************************/
/* 資料編輯內容區 */
#table-data-info {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    top: 50px; left:0px;
    background-color: #FAFAFA;
    width:100%; height: auto;
}

.layui-none {
    visibility: hidden;
}

.layui-laypage .layui-laypage-btn {
    color: #FAFAFA;
    background-color: rgb(95, 160, 190) !important; 
}



/* 分页组件页数按钮的默认颜色 */
.layui-laypage a {
    color: #666; /* 设置默认按钮文字颜色 */
    background-color: #f2f2f2; /* 设置默认按钮背景颜色 */
  }
  
  /* 分页组件页数按钮的激活状态（当前页）的颜色 */
.layui-laypage .layui-laypage-em {
    background-color: rgb(95, 160, 190) !important; /* 设置激活状态按钮背景颜色 */
    color: #fff; /* 设置激活状态按钮文字颜色 */
}

/****************************************/
/*
.layui-transfer .layui-transfer-box ul li {
    height: 32px; 
    line-height: 32px;
    font-size: 14px; 
}

.layui-transfer-btn {
    width: 10%; 
    text-align: center;
}
*/



/*******************************************/
/* 彈出新增視窗 */
#add-window-bg {
    margin:15px auto; 
    left:15px; 
    width:950px; height:auto; 
    /*background-color:#381111;*/
    overflow-x: hidden;
}

/* 彈出新增視窗-表格 */
#add-win-table {
    margin:10px auto; padding:0px;
    width:900px; height:auto;
    border: 1px;
}

#add-lab-email-code {
    width:200px; height:30px;
    text-align: center;
}
#add-input-email-code {
    width:400px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}

#add-lab-email-cname {
    width:200px; height:30px;
    text-align:center;
}
#add-input-email-cname {
    width:700px; height:50px;
    text-align:left;
    padding-left: 5px;
    border: 0px;
}

#add-lab-email-ename {
    width:200px; height:30px;
    text-align:center;
}
#add-input-email-ename {
    width:700px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}

#add-lab-email-type {
    width:200px; height:30px;
    text-align: center;
}
#add-sel-email-type {
    width:88px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}

#add-lab-email-main-title {
    width:200px; height:30px;
    text-align: center;
}
#add-input-email-main-title {
    width:700px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}


#add-lab-email-sub-title {
    width:200px; height:30px;
    text-align: center;
}
#add-input-email-sub-title {
    width:700px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}


#add-lab-email-reciver {
    width:200px; height:30px;
    text-align: center;
}
#add-tab-txt-email-reciver {
    align-items: center;
}
#add-tab-reciver-source-email {
    text-align: left;
}
#add-tab-reciver-target-email {
    text-align: left;
}


#add-lab-email-cc {
    width:200px; height:30px;
    text-align: center;
}
#add-tab-txt-email-cc {
    align-items: center;
}
#add-tab-cc-source-email {
    text-align: left;
}
#add-tab-cc-target-email {
    text-align: left;
}



#add-tab-txt-email-sender {
    text-align: left;
    width:200px;
}
#add-lab-email-sender {
    width:200px; height:30px;
    text-align: center;
}
#add-tab-sel-sender {
    width:260px; height:50px;
    text-align: left;
    border: 0px;
    font-size: 14px;
    padding-left: 10px;
    color: rgb(90,90,90);
}



#add-lab-content-label {
    width:200px; height:30px;
    text-align: center;
}
#add-input-content-label {
    width:700px; height:50px;
    text-align:left;
    padding-left: 5px;
    border: 0px;
}



#add-lab-content-text {
    width:200px; height:30px;
    text-align: center;
}
#add-input-content-text {
    width:700px; height:50px;
    text-align:left;
    padding-left: 5px;
    border: 0px;
}


#add-lab-page-link {
    width:200px; height:30px;
    text-align: center;
}
#add-input-page-link {
    width:700px; height:50px;
    text-align:left;
    padding-left: 5px;
    border: 0px;
}


#add-lab-file-link {
    width:200px; height:30px;
    text-align: center;
}
#add-input-file-link {
    width:700px; height:50px;
    text-align:left;
    padding-left: 5px;
    border: 0px;
}





#add-lab-memo {
    width:200px; height:30px;
    text-align:center;
}
#add-input-memo {
    width:300px; height:50px;
    min-width:300px;
    max-width:300px;
    min-height:50px;
    max-height:90px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
    padding-top: 5px;
}



/*******************************************/
/* 彈出編輯視窗 */
#edit-window-bg {
    margin:15px auto; 
    left:15px; 
    width:580px; height:auto; 
    /*background-color:#381111;*/
}

/* 彈出編輯視窗-表格 */
#edit-win-table {
    margin:10px auto; padding:0px;
    width:500px; height:auto;
    border: 1px;
}


#edit-lab-rule-code {
    width:200px; height:30px;
    text-align: center;
}
#edit-input-rule-code {
    width:300px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}


#edit-lab-rule-cname {
    width:200px; height:30px;
    text-align:center;
}
#edit-input-rule-cname {
    width:300px; height:50px;
    text-align:left;
    padding-left: 5px;
    border: 0px;
}


#edit-lab-rule-ename {
    width:200px; height:30px;
    text-align:center;
}
#edit-input-rule-ename {
    width:300px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}


#edit-lab-rule-type {
    width:200px; height:30px;
    text-align: center;
}
#edit-sel-rule-type {
    width:88px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}


#edit-lab-rule-situational {
    width:200px; height:30px;
    text-align: center;
}
#edit-sel-rule-situation {
    width:300px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}


#edit-lab-rule-description {
    width:200px; height:30px;
    text-align: center;
}
#edit-input-rule-description {
    width:300px; height:50px;
    min-width:300px;
    max-width:300px;
    min-height:50px;
    max-height:90px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
    padding-top: 5px;
}


#edit-lab-task-ename {
    width:200px; height:30px;
    text-align:center;
}
#edit-sel-task-ename {
    width:300px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}
#edit-lab-task-index {
    width:200px; height:30px;
    text-align:center;
}
#edit-input-task-index {
    width:100px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}


#edit-lab-milestone-ename {
    width:200px; height:30px;
    text-align:center;
}
#edit-sel-milestone-ename {
    width:300px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}
#edit-lab-milestone-index {
    width:200px; height:30px;
    text-align:center;
}
#edit-input-milestone-index {
    width:100px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}



#edit-lab-status-ename {
    width:200px; height:30px;
    text-align:center;
}
#edit-sel-status-ename {
    width:300px; height:50px;
    text-align:left;
    padding-left: 5px;
    border: 0px;
}
#edit-lab-status-index {
    width:200px; height:30px;
    text-align:center;
}
#edit-input-status-index {
    width:100px; height:50px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
}


#edit-input-event-node {
    width:300px; height:50px;
    text-align:left;
    padding-left: 5px;
    border: 0px;
}


#edit-lab-enable {
    width:200px; height:30px;
    text-align:center;
}
#edit-sel-enable {
    width:88px; height:50px;
    text-align:left;
    padding-left: 10px;
    border: 0px;
}


#edit-lab-memo {
    width:200px; height:30px;
    text-align:center;
}
#edit-input-memo {
    width:300px; height:50px;
    min-width:300px;
    max-width:300px;
    min-height:50px;
    max-height:90px;
    text-align:left;
    border: 0px;
    padding-left: 5px;
    padding-top: 5px;
}



/******************************/
/* 基本欄位 */
/*
.c-base {
    width:100px; height:0px;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}
*/

.cls-c1-r1 {
    width:100px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}


.cls-c2-r1 {
    width:200px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c3-r1 {
    width:300px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c4-r1 {
    width:400px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}


.cls-c5-r1 {
    width:500px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c7-r1 {
    width:700px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}