#root {
    position:absolute;
    margin: 0; padding: 0; border: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA
}

/*******************************************/
/* 左邊側邊導覽列選單區 */
#div-side-menu-group {
    position: absolute;
    margin: 0px; padding: 0px; border: 0px;
    width: 0px; height: 100%;
    top: 70px; left: 0px;
    background-color: #393D49;
}
#div-layui-menu {
    width: 100%; height: 1050px;
    
}
#li-group-item-1 {
    font-size: 30px;
    font-weight: bold;
}

/* 選單分隔線 */
.nav-item-line {
    position:absolute;
    width:100%; height:2px;
    top:0px; left:0px;
    background-color:rgb(165, 165, 165);
}

/*
a:hover {
    background-color: #009688;
}
*/
.site-demo-active {
    background-color: #009688;
}




/*******************************/
/* 內容群組區背景 */
#div-content-group {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    top:70px; left:0px;
    background-color: rgb(254, 254, 254);/* #12b553;*/
    width:100% ; height:auto;

}

/**/
#function-bar {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    background-color: #009688;
    width:100%; height:50px;
    /*background-color:#0d3295;*/
}


#id-table-bg {
    width:1000px; height: auto;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
}


/**/
#form-title-text {
    /*position: absolute;*/
    width:500px; height: 50px;
    /*top: 50px; left: 0px;*/
    margin: 70px auto; padding: 0px; border: 0px;
    font-size: 24px; 
    font-weight: bold;  
    text-align: center;
    color: #000000;
}

/**/
#id-table-form {
    width:1000px; height: auto;
    margin: -50px auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 20px; font-weight: bold;
}


/******************************/
#lab-IT {
    text-align:left; 
    border-left: 0px;
    border-right: 0px;
}
#txt-IT {
    border-left: 0px;
    border-right: 0px;
}
#check-IT {
    width:30px; height:30px;
}
#check-IO {
    width:30px; height:30px;
}
#check-IOT {
    width:30px; height:30px;
}


#lab-IO {
    text-align:left; 
    border-left: 0px;
    border-right: 0px;
}
#txt-IO {
    border-left: 0px;
    border-right: 0px;
}

#lab-IOT {
    text-align:left; 
    border-left: 0px;
    border-right: 0px;
}
#txt-IOT {
    border-left: 0px;
    border-right: 0px;
    
}
#empty-BU {
    border-left: 0px;
}


#txt-due-day {
    border-right: 0px;
}

#lab-day {
    text-align:left; 
    border-left: 0px;
}



#input-project-name {
    margin-left: 10px;
    width:700px; height:40px;
    border: 0px;
}
#input-project-explan {
    margin-left: 10px;
    width:700px; height:40px;
    border: 0px;
}
#input-project-application {
    margin-left: 10px;
    width:700px; height:40px;
    border: 0px;
}
#input-spec {
    margin-left: 10px;
    width:700px; height:40px;
    border: 0px;
}
#input-require {
    margin-left: 10px;
    width:700px; height:40px;
    border: 0px;
}
#input-target-cost {
    margin-left: 10px;
    width:700px; height:40px;
    border: 0px;
}


#input-project-finish {
    margin-left: 20px;
    width:130px; height:40px;
    border: 0px;
}
#input-due-day {
    margin-left: 20px;
    width:130px; height:40px;
    border: 0px;
}

#lab-symbol {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

#lab-view-button {
    border-left: 0px;
}


#empty-submit {
    border-right: 0px;
}


#lab-submit-button {
    border-left: 0px;
    border-bottom:0px;
}

#btn-submit {
    width:100px; 
    height:40px;
    padding: 0px;
    text-align: center;
}
#btn-reject {
    width:100px; 
    height:40px;
    padding: 0px;
    text-align: center;
}


#upload-form {
    width:500px; height:40px;
    text-align: left;
    padding-left: 10px;
    font-size: 20px; font-weight: bold;
}
#btn-file {
    width: 380px;
    font-size: 18px; 
    font-weight: bold;
    margin-top: 10px;
}

#btn-upload {
    width: 118px; height:40px;
    background-color: #009688;
    color:white;
    margin-top:-60px;
    margin-left: 370px;
    text-align: left;
}


#lab-view-file {
    text-align:center;
    border-left: 0px;
}


#btn-view {
    width: 110px; height:40px;
    background-color: #c38a2e;
    color:white;
    text-align: center;
}


#txt-symbol {
    width:200px;height:30px;
    text-align:left; 
    font-size: 20px; font-weight: bold;
}


/******************************/
#lab-final-open {
    text-align:left;
    border-left: 0px;
    border-right: 0px;
}
#txt-final-open {
    border-right: 0px;
}
#lab-final-close {
    text-align:left;
    border-left: 0px;
}
#txt-final-close {
    border-right: 0px;
}

#check-open {
    width:30px; height:30px;
    
}

#check-close {
    width:30px; height:30px;
}



#check-schedule {
    width:30px; height:30px;
}
#lab-schedule {
    text-align:left;
    border-left:0px;
    border-right:0px;
}
#txt-schedule {
    border-right:0px;
}


#check-price{
    width:30px; height:30px;
}
#lab-price {
    text-align:left;
    border-left:0px;
    border-right:0px;
}
#txt-price {
    border-left:0px;
    border-right:0px;
}


#check-technology {
    width:30px; height:30px;
}
#lab-technology {
    text-align:left;
    border-left:0px;
}
#txt-technology {
    border-left:0px;
    border-right:0px;
}


#lab-title-date {
    text-align:left;
    padding-left: 10px;
    border-bottom: 0px;
}

#lab-electronic {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
#txt-electronic {
    border: 0px;
}
#txt-institution {
    border: 0px;
}
#lab-institution {
    border-top: 0px;
    border-right: 0px;
}
#input-electronic-date {
    width:96px; 
    height:40px;
    border:1px; 
    border-bottom-style:solid;
    border-top-style: none;
    border-left-style:none;
    border-right-style:none;
    text-align:center; 
}
#input-institution-date {
    width:96px; 
    height:40px;
    border:1px; 
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style:none;
    border-right-style:none;
    text-align:center; 
}

#input-reason {
    width:500px; 
    height:50px;
    text-align:left;
    border:0px;
}


#empty-electronic {
    text-align:left;
    padding-left: 10px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
}
#empty-institution {
    text-align:left;
    padding-left: 10px;
    border-top: 0px;
    border-left: 0px;
}
#empty-final-open {
    border-left: 0px;
}
#empty-file-attch {
    text-align:left;
    border-right: 0px;
}

#upload-form {
    padding-left: 10px;
}
#btn-file {
    width: 600px;
}

#btn-upload {
    width: 120px; height:40px;
    background-color: #009688;
    color:white
}
#lab-view-file {
    text-align:center;
    border-left: 0px;
}

#lab-btn-send {
    border-bottom: 0px;
}
#lab-btn-cancel {
    border-top: 0px;
}

/******************************/
/* 基本欄位 */
.c-base {
    width:50px; height:0px;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    /*border: 0px;*/
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
    
}
/* #help-axis {
    display: none;
} */

.cls-c1-r1 {
    width:50px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c1-r2 {
    width:50px; height:100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c2-r1 {
    width:100px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c3-r1 {
    width:150px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c3-r3 {
    width:150px; height:150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c3-r9 {
    width:150px; height:450px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c2-r1 {
    width:100px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c2-r1-h2 {
    width:100px; height:60px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c2-r2-h2 {
    width:100px; height:120px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c3-r1 {
    width:150px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c3-r6 {
    width:150px; height:300px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c4-r1 {
    width:200px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c4-r2 {
    width:200px; height:100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c5-r1 {
    width:250px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c6-r1 {
    width:300px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}


.cls-c6-r1-h1 {
    width:300px; height:30px;
    background-color: rgb(153,148,148);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}
.cls-c6-r1-h2 {
    width:300px; height:60px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}


.cls-c7-r1 {
    width:350px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}
.cls-c8-r1 {
    width:400px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c10-r1 {
    width:500px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:left; 
    font-size: 18px; font-weight: bold;
}

.cls-c11-r1 {
    width:550px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:left; 
    font-size: 18px; font-weight: bold;
}

.cls-c12-r1 {
    width:600px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:left; 
    font-size: 18px; font-weight: bold;
}

.cls-c14-r1 {
    width:700px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:left; 
    font-size: 18px; font-weight: bold;
}

.cls-c17-r1 {
    width:850px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:left; 
    font-size: 18px; font-weight: bold;
}

.cls-c20-r1 {
    width:1000px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
    text-align:left; 
    font-size: 18px; font-weight: bold;
}


/********************************/
/* 彈出檔案檢視視窗 */
/*基本空格*/
.window-empty-item {
    width:600px; height:20px;
}
.layui-inline {
    margin-left: 10px;
}
#view-window-item-1 {
    width:600px; height:100px;
    /*background-color: aqua;*/
}

#view-lab-file-list {
    width:540px; height:40px;
    margin-left: 10px;
    text-align: left;
    font-size: 20px; font-weight: bold;
}
#select-file-list {
    width:500px; height:40px;
    margin-left: 10px;
    text-align: left;
    font-size: 20px; font-weight: bold;
}

#btn-open-file {
    width: 50px; height: 50px;
    top: 75px; right: 10px;
}
/*
#img-open-file {
    width: 50px; height: 50px;
    top: 75px; right: 10px;
}
*/


/********************************/
/* 彈出退回視窗 */
/*基本空格*/

#lab-taskback {
    width:300px;
    top: 10px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}
#lab-taskback-reason {
    width:90px;
    top: 30px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}

#select-taskback-reason
{  
    position: absolute;
    width:400px;   
    text-align: left;
    font-size: 18px; 
    font-weight: bold; 
    top:75px;
}

#lab-taskback-memo
{   
    width:90px;    
    top: 50px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}

#input-taskback-memo {
    position: absolute;
    width:400px; 
    height:30px;
    border:1px; 
    font-size: 18px; 
    font-weight: bold;    
    border-bottom-style:solid;
    border-top-style: none;
    border-left-style:none;
    border-right-style:none;
    text-align:left; 
    top:50px;
}

.list-file-item {
    width:840px;
    height:50px;
    background-color: rgb(250, 250, 250);
    align-items: center;
    padding-left: 10px;
    border: 1px solid rgb(50, 50, 50);
    border-right: 0px;
    /*border-left: 0px;*/
    /*float:left;*/
    display: flex;
    /*flex-grow:2;*/
    flex-wrap:nowrap;
    /*flex-direction:row;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
    justify-content: space-around;
    /*justify-content:end;*/
    /*align-self:stretch;*/
}


.text-filename {
    width:600px;height:40px;
    margin-top: 10px;
    font-size: 20px;
    text-align:left;
    color:black;
    /*background-color: rgb(250, 250, 0);*/
}