#root {
    position:absolute;
    margin: 0; padding: 0; border: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA
}




/*******************************************/
/* 內容群組區背景 */
#div-content-group {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    top:70px; left:300px;
    background-color: white;/* #12b553;*/
    width:calc(100% - 300px); height:auto;
}


/**/
#function-bar {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    background-color: rgb(95, 160, 190);
    width:100%; height:50px;
    /*background-color:#0d3295;*/
}


#id-table-bg {
    width:1000px; height: auto;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
}


/**/
#form-title-text {
    /*position: absolute;*/
    width:500px; height: 50px;
    /*top: 50px; left: 0px;*/
    margin: 70px auto; padding: 0px; border: 0px;
    font-size: 24px; 
    font-weight: bold;  
    text-align: center;
    color: #000000;
}

/**/
#id-table-form {
    width:1000px; height: auto;
    margin: -50px auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 20px; font-weight: bold;
}



/*********************/
#input-product-name {
    width: 700px;
    height:50px;
    text-align: left;
    border: 0px;
    margin-left: 5px;
}

#input-product-series {
    width: 700px;
    height:50px;
    text-align: left;
    border: 0px;
    margin-left: 5px;
}

#input-product-discription {
    width: 700px;
    height:50px;
    text-align: left;
    border: 0px;
    margin-left: 5px;
}

#input-product-certified{
    width: 700px;
    height:50px;
    text-align: left;
    border: 0px;
    margin-left: 5px;
}


/******************************/
#input-product-type-no {
    border: 0px;
    width:700px;
    height:50px;
    margin-left: 5px;
}
#input-product-name {
    border: 0px;
    width:700px;
    height:50px;
}
#input-product-series {
    border: 0px;
    width:700px;
    height:50px;
}
#input-product-discription {
    border: 0px;
    width:700px;
    height:50px;
}
#input-product-certified {
    border: 0px;
    width:700px;
    height:50px;
}

#select-product-check {
    width:200px;
    height:50px;
    border: 0px;
    text-align: center;
}

#sel-new-tech-project-name {
    height:50px;
    border: 0px;
    width: 250px;;
    text-align: center;   
}


/******************************/
#input-targeted-market {
    border: 0px;
    margin-top: 15px; padding: 0px;
    max-width: 848px;
    min-width: 848px;
    width:848px;
    max-height: 200px;
}

/*****************************/
#input-sale-price {
    border: 0px;
    width:200px;
    height:50px;
    margin-left: 5px;
    text-align: center;
}
#input-annual-count {
    border: 0px;
    width:250px;
    height:50px;
    margin-left: 5px;
    text-align: center;
}
#input-annual-performance {
    border: 0px;
    width:200px;
    height:50px;
    margin-left: 5px;
    text-align: center;
}

#txt-profit {
    border-right: 0px;
}
#input-profit {
    border: 0px;
    width:100px;
    height:50px;
    text-align: center;
}
#unit-profit {
    text-align: left;
    border-left: 0px;
}
/*****************************/
#box-replace-none {
    border-right:0px;
}
#check-replace-none {
    width:30px; height:30px;
}
#lab-replace-none {
    border-left:0px;
    border-right:0px;
    text-align: left;
}


#box-replace-yes {
    border-left:0px;
    border-right:0px;
}
#check-replace-yes {
    width:30px; height:30px;
}
#lab-replace-yes {
    border-left:0px;
    border-right:0px;
    text-align: left;
}

#input-replace-type-no {
    border: 0px;
    width:250px;
    height:50px;
    margin-left: 5px;
    text-align: center;
}



/*****************************/
#input-patent-evaluation {
    border: 0px;
    margin-top: 15px; padding: 0px;
    max-width: 848px;
    min-width: 848px;
    width:848px;
    max-height: 200px;
}

/*******************************/
#box-form-io {
    border-left: 0px;
    border-right: 0px;
}
#check-form-io {
    width:30px;
    height:30px;
}
#lab-form-io {
    text-align:left;
    border: 0px;
}



#box-form-iot {
    border-left: 0px;
    border-right: 0px;
}
#check-form-iot {
    width:30px;
    height:30px;
}
#lab-form-iot {
    text-align:left;
    border: 0px;
}


#box-form-it {
    border-left: 0px;
    border-right: 0px;
}
#check-form-it {
    width:30px;
    height:30px;
}
#lab-form-it {
    text-align:left;
    border: 0px;
}

/****************************/
#box-compete {
    border-right:0px;
}
#check-compete {
    width:30px; height:30px;
}
#lab-compete {
    border-left:0px;
    border-right:0px;
    text-align: left;
}
#empty-compete {
    border-left:0px;
}

/*******************************/
#lab-ee-develop-time {
    border-bottom: 0px;
}

#lab-ee-develop-schedule {
    border-top: 0px;
}

#txt-ee-develop-schedule {
    border-right: 0px;
}
#input-ee-develop-time {
    border: 0px;
    width:150px;
    height:50px;
}


#input-ee-develop-cost {
    border: 0px;
    width:150px;
    height:50px;
    text-align: center;
}
#lab-ee-develop-cost {
    border-right:0px;
    border-right: 0px;
}
#txt-ee-develop-cost {
    border-right:0px;
}
#unit-ee-develop-cost {
    text-align: left;
    border-left:0px;
}
#input-first-product-date {
    border: 0px;
    width:200px;
    height:50px;
    text-align: center;
}

#lab-ee-develop-from {
    border-right: 0px;
}
#input-ee-develop-from {
    border: 0px;
    width:150px;
    height:50px;
}
#txt-ee-develop-from {
    border-left: 0px;
    border-right: 0px;
}

#lab-ee-develop-to {
    border-left: 0px;
    border-right: 0px;
}
#input-ee-develop-to {
    border: 0px;
    width:150px;
    height:50px;
}
#txt-ee-develop-to {
    border-left: 0px;
    border-right: 0px;
}
#unit-ee-develop-to {
    text-align: left;
    border-left: 0px;
}


/*******************************/
#lab-mec-develop-time {
    border-bottom: 0px;
}

#lab-mec-develop-schedule {
    border-top: 0px;
}

#input-mec-develop-time {
    border: 0px;
    width:150px;
    height:50px;
}
#input-mec-develop-cost {
    border: 0px;
    width:150px;
    height:50px;
    text-align: center;
}
#lab-mec-develop-cost {
    border-right:0px;
    border-left: 0px;
}
#txt-mec-develop-cost {
    border-right:0px;
}
#unit-mec-develop-cost {
    text-align: left;
    border-left:0px;
}


#lab-mec-develop-from {
    border-right: 0px;
}
#input-mec-develop-from {
    border: 0px;
    width:150px;
    height:50px;
}
#txt-mec-develop-from {
    border-left: 0px;
    border-right: 0px;
}

#lab-mec-develop-to {
    border-left: 0px;
    border-right: 0px;
}
#input-mec-develop-to {
    border: 0px;
    width:150px;
    height:50px;
}
#txt-mec-develop-to {
    border-left: 0px;
    border-right: 0px;
}
#unit-mec-develop-to {
    text-align: left;
    border-left: 0px;
}


/*******************************/
#lab-soft-develop-time {
    border-bottom: 0px;
}

#lab-soft-develop-schedule {
    border-top: 0px;
}

#input-soft-develop-time {
    border: 0px;
    width:150px;
    height:50px;
}
#input-soft-develop-cost {
    border: 0px;
    width:150px;
    height:50px;
    text-align: center;
}
#lab-soft-develop-cost {
    border-right:0px;
    border-left: 0px;
}
#txt-soft-develop-cost {
    border-right:0px;
}
#unit-soft-develop-cost {
    text-align: left;
    border-left:0px;
}


#lab-soft-develop-from {
    border-right: 0px;
}
#input-soft-develop-from {
    border: 0px;
    width:150px;
    height:50px;
}
#txt-soft-develop-from {
    border-left: 0px;
    border-right: 0px;
}

#lab-soft-develop-to {
    border-left: 0px;
    border-right: 0px;
}
#input-soft-develop-to {
    border: 0px;
    width:150px;
    height:50px;
}
#txt-soft-develop-to {
    border-left: 0px;
    border-right: 0px;
}
#unit-soft-develop-to {
    text-align: left;
    border-left: 0px;
}


/*******************************/
#lab-verify-develop-time {
    border-bottom: 0px;
}

#lab-verify-develop-schedule {
    border-top: 0px;
}

#input-verify-develop-time {
    border: 0px;
    width:150px;
    height:50px;
}
#input-verify-develop-cost {
    border: 0px;
    width:150px;
    height:50px;
    text-align: center;
}
#lab-verify-develop-cost {
    border-right:0px;
}
#txt-verify-develop-cost {
    border-right:0px;
}
#unit-verify-develop-cost {
    text-align: left;
    border-left:0px;
}


#lab-verify-develop-from {
    border-right: 0px;
}
#input-verify-develop-from {
    border: 0px;
    width:150px;
    height:50px;
}
#txt-verify-develop-from {
    border-left: 0px;
    border-right: 0px;
}

#lab-verify-develop-to {
    border-left: 0px;
    border-right: 0px;
}
#input-verify-develop-to {
    border: 0px;
    width:150px;
    height:50px;
}
#txt-verify-develop-to {
    border-left: 0px;
    border-right: 0px;
}
#unit-verify-develop-to {
    text-align: left;
    border-left: 0px;
}



#box-unit-taipei {
    border-left: 0px;
    border-right: 0px;
}
#lab-unit-taipei {
    text-align: left;
    border-left: 0px;
    border-right: 0px;
}
#check-unit-taipei {
    width:30px; height:30px;
}


#box-unit-shanghai {
    border-left: 0px;
    border-right: 0px;
}
#lab-unit-shanghai {
    text-align: left;
    border-left: 0px;
    border-right: 0px;
}
#check-unit-shanghai {
    width:30px; height:30px;
}

#lab-unit-kunshan {
    text-align: left;
    border-left: 0px;
}
#box-unit-kunshan {
    border-left: 0px;
    border-right: 0px;
}
#check-unit-kunshan {
    width:30px; height:30px;
}


/*****************************/
#box-area-xindian {
    border-left: 0px;
    border-right: 0px;
}
#check-area-xindian {
    width:30px; height:30px;
}
#lab-area-xindian {
    text-align: left;
    border-left: 0px;
    border-right: 0px;
}


#box-area-kunshan {
    border-left: 0px;
    border-right: 0px;
}
#check-area-kunshan {
    width:30px; height:30px;
}
#lab-area-kunshan {
    text-align: left;
    border-left: 0px;
    border-right: 0px;
}


#box-area-both {
    border-left: 0px;
    border-right: 0px;
}
#check-area-both {
    width:30px; height:30px;
}
#lab-area-both {
    text-align: left;
    border-left: 0px;
    border-right: 0px;
}



#box-area-other {
    border-left: 0px;
    border-right: 0px;
}
#check-area-other {
    width:30px; height:30px;
}
#lab-area-other {
    text-align: left;
    border-left: 0px;
}


/*******************************/
#txt-test-product {
    border-left: 0px;
    border-right: 0px;
}
#input-test-product {
    border: 0px;
    width:150px;
    height:50px;
    text-align: left;
}
#unit-test-product {
    text-align: left;
    border-left: 0px;
    border-right: 0px;
}
#empty-test-product {
    border-left: 0px;
}

/*******************************/
#box-old-package {
    border-right: 0px;
}
#check-old-package {
    width:30px; height:30px;
}
#lab-old-package {
    text-align: left;
    border-right: 0px;
    border-left: 0px;
}


#box-new-package {
    border-right: 0px;
    border-left: 0px;
}
#check-new-package {
    width:30px; height:30px;
}
#lab-new-package {
    text-align: left;
    border-right: 0px;
    border-left: 0px;
}


#box-self-package {
    border-right: 0px;
    border-left: 0px;
}
#check-self-package {
    width:30px; height:30px;
}
#lab-self-package {
    text-align: left;
    border-left: 0px;
}

/******************************/
#txt-symbol {
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
}

#empty-submit {
    text-align: left;
}
#upload-form {
    width:850px;
    margin-left: 5px;
}



/******************************/
/* 基本欄位 */
.c-base {
    width:50px; height:0px;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(255, 255, 255);
    /*border: 0px;*/
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}


.cls-c1-r1 {
    width:50px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c2-r1 {
    width:100px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c3-r1 {
    width:150px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c3-r3 {
    width:150px; height:150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}


.cls-c3-r4 {
    width:150px; height:200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}


.cls-c3-r9 {
    width:150px; height:450px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c4-r1 {
    width:200px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c5-r1 {
    width:250px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c6-r1 {
    width:300px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c8-r1 {
    width:400px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c9-r1 {
    width:450px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c11-r1 {
    width:550px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c14-r1 {
    width:700px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c15-r1 {
    width:750px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c17-r1 {
    width:850px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.cls-c18-r1 {
    width:900px; height:50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0); 
    text-align:center; 
    font-size: 18px; font-weight: bold;
}

.list-file-item {
    width:850px;
    height:50px;
    background-color: rgb(250, 250, 250);
    align-items: center;
    padding-left: 10px;
    border: 1px solid rgb(50, 50, 50);
    border-right: 0px;
    /*border-left: 0px;*/
    /*float:left;*/
    display: flex;
    /*flex-grow:2;*/
    flex-wrap:nowrap;
    /*flex-direction:row;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
    justify-content: space-around;
    /*justify-content:end;*/
    /*align-self:stretch;*/
}

.text-filename {
    width:600px;height:40px;
    margin-top: 10px;
    font-size: 20px;
    text-align:left;
    color:black;
    /*background-color: rgb(250, 250, 0);*/
}