#root {
    position:absolute;
    margin: 0; padding: 0; border: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA
}



/*******************************************/
/* 內容群組區背景 */
#div-content-group {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    top:70px; left:300px;
    background-color:  #12b553;
    width:calc(100% - 300px); height:auto;
    
}


/**/
#function-bar {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    background-color: rgb(95, 160, 190);;
    width:100%; height:50px;
    /*background-color:#0d3295;*/
}

#form-title-text {
    /*position: absolute;*/
    width:500px; height: 30px;
    /*top: 50px; left: 0px;*/
    margin: 0px auto; padding: 0px; border: 0px;
    font-size: 24px; 
    font-weight: bold;  
    text-align: center;
    color: #000000;
}


/**********************************/
/* 資料編輯內容區 */
#table-data-info {
    position: absolute;
    margin: 0px auto; padding: 0px; border: 0px;
    top: 50px; left:0px;
    background-color: #FAFAFA;
    width:100%; height: auto;
}

.layui-none {
    visibility: hidden;
}

.layui-laypage-btn {
    color: #FAFAFA;
}

.layui-none {
    visibility: hidden;
}

.layui-laypage .layui-laypage-btn {
    color: #FAFAFA;
    background-color: rgb(95, 160, 190) !important; 
}



/* 分页组件页数按钮的默认颜色 */
.layui-laypage a {
    color: #666; /* 设置默认按钮文字颜色 */
    background-color: #f2f2f2; /* 设置默认按钮背景颜色 */
  }
  
  /* 分页组件页数按钮的激活状态（当前页）的颜色 */
.layui-laypage .layui-laypage-em {
    background-color: rgb(95, 160, 190) !important; /* 设置激活状态按钮背景颜色 */
    color: #fff; /* 设置激活状态按钮文字颜色 */
}




/*************************************/
/* 彈出視窗 */
/*基本空格*/
.window-empty-item {
    width:550px; height:10px;
}


#lab-work-days {
    width:130px;
    top: 10px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
    
}
#lab-days {
    width:150px;
    top: 10px;      
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}

#edit-lab-project-no {
    width:155px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}
#edit-txt-project-no {
    width:350px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}


#edit-lab-project-name {
    width:155px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}
#edit-txt-project-name {
    width:350px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}


#edit-lab-expect-start {
    width:155px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}
#edit-txt-expect-start {
    width:350px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold;
}


#edit-lab-expect-end {
    width:155px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}
#edit-txt-expect-end {
    width:350px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold;
}




#edit-lab-project-task {
    width:165px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}

#edit-lab-project-milestone {
    width:165px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}

#edit-lab-project-status {
    width:165px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}


#edit-lab-project-reason {
    width:165px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}


#edit-lab-project-memo {
    width:165px;
    text-align: left;
    font-size: 20px; 
    font-weight: bold; 
}

#edit-txt-memo {
    position: absolute;
    width:400px; 
    height:30px;
    border:1px; 
    font-size: 18px; 
    font-weight: bold;    
    border-bottom-style:solid;
    border-top-style: none;
    border-left-style:none;
    border-right-style:none;
    text-align:left; 
    
}



#edit-window-item-8 {
    display : none;
}
#edit-window-item-9 {
    display : none;
}

#input-work-days {
    position: absolute;
    width:96px; 
    height:30px;
    border:1px; 
    font-size: 20px;
    border-bottom-style:solid;
    border-top-style: none;
    border-left-style:none;
    border-right-style:none;
    text-align:center;
    top:10px;
    }


#btn-upload {
    width: 120px; height:40px;
    background-color: #009688;
    color:white
}

.list-file-item {
    width:580px;
    height:30px;
    background-color: rgb(250, 250, 250);
    align-items: center;
    padding-left: 0px;
    border: 1px solid rgb(50, 50, 50);
    border-right: 0px;
    /*border-left: 0px;*/
    /*float:left;*/
    display: flex;
    /*flex-grow:2;*/
    flex-wrap:nowrap;
    /*flex-direction:row;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
    justify-content: space-around;
    /*justify-content:end;*/
    /*align-self:stretch;*/
}

.text-filename {
    width:550px;height:30px;
    margin-top: 10px;
    font-size: 20px;
    text-align:left;
    color:black;
    /*background-color: rgb(250, 250, 0);*/
}

