<!DOCTYPE html>
<html lang="en">

    <head>

        {% include 'common/header.html' %}
        <title>Attach編輯</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/attach.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/side_menu.css') }}" />

    </head>

    <body id="root">

        <!-- 上方主標題欄 -->
        {% include 'common/title_bar.html' %}
    
        <!-- 左邊側邊導覽列選單區 -->
        {% include 'common/side_menu.html' %}
    
    
        <!-- 內容群組區背景 -->
        <div id="div-content-group">
    
            <!-- 表單標題 -->
            <div id="function-bar">
            </div>
    
            <div id="id-table-bg">
                <div id="form-title-text"><b>Attach編輯</b></div>
                    <!-- 資料編輯內容區 -->
                    <div id="table-data-info">
                        <!-- 資料表格 -->
                        <table class="layui-hide" id="demo" lay-filter="test"></table>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- 彈出新增視窗 -->
        <template id="form-template-add">
            <div id="add-window-bg">
                <table id="add-win-table">
                    <tbody>
                        <tr>
                            <th colspan="2"  rowspan="1" id="add-tab-lab-attach-code"   class="cls-c2-r1">
                                <div id="add-lab-attach-code">Attach編碼✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="add-tab-txt-attach-code"   class="cls-c3-r1">
                                <input type="text" id="add-input-attach-code" name="add-input-attach-code"></input>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2"  rowspan="1" id="add-tab-lab-attach-cname"   class="cls-c2-r1">
                                <div id="add-lab-attach-cname">Attach中文✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="add-tab-txt-attach-cname"   class="cls-c3-r1">
                                <input type="text" id="add-input-attach-cname" name="add-input-attach-cname"></input>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2"  rowspan="1" id="add-tab-lab-attach-ename"   class="cls-c2-r1">
                                <div id="add-lab-attach-ename">Attach英文✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="add-tab-txt-attach-ename"   class="cls-c3-r1">
                                <input type="text" id="add-input-attach-ename" name="add-input-attach-ename"></input>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2"  rowspan="1" id="add-tab-lab-attach-link"   class="cls-c2-r1">
                                <div id="add-lab-attach-link">Attach路徑✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="add-tab-txt-attach-link"   class="cls-c3-r1">
                                <!-- <input type="text" id="add-input-attach-link" name="add-input-attach-link"></input> -->
                                <textarea id="add-input-attach-link" name="add-input-attach-link" rows="3" cols="40" required></textarea>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2"  rowspan="1" id="add-tab-lab-attach-file"   class="cls-c2-r1">
                                <div id="add-lab-attach-file">Attach檔案✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="add-tab-txt-attach-file"   class="cls-c3-r1">
                                <input type="text" id="add-input-attach-file" name="add-input-attach-file"></input>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2"  rowspan="1" id="add-tab-lab-enable"   class="cls-c2-r1">
                                <div id="add-lab-enable">狀態</div>
                            </th>
                            <th colspan="1"  rowspan="1" id="add-tab-txt-enable"   class="cls-c1-r1">
                                <select id="add-sel-enable" name="select-enable">
                                    <option value="false">停用</option>
                                    <option value="true"  selected="selected">啟用</option>
                                </select>
                            </th>
                            <th colspan="2"  rowspan="1" id="add-tab-empty"   class="cls-c2-r1"></th>
                        </tr>
                        <tr>
                            <th colspan="2"  rowspan="1" id="add-tab-lab-memo"   class="cls-c2-r1">
                                <div id="add-lab-memo">備註</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="add-tab-txt-memo"   class="cls-c3-r1">
                                <textarea id="add-input-memo" name="add-input-memo" rows="3" cols="40" required></textarea>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>



        <!-- 彈出編輯視窗 -->
        <template id="form-template-edit">
            <div id="edit-window-bg">
                <table id="edit-win-table">
                    <tbody>
                        <tr>
                            <th colspan="1"  rowspan="1" id="edit-tab-lab-attach-code"   class="cls-c1-r1">
                                <div id="edit-lab-attach-code">Attach編碼✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="edit-tab-txt-attach-code"   class="cls-c3-r1">
                                <input type="text" id="edit-input-attach-code" name="edit-input-attach-code"></input>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="1"  rowspan="1" id="edit-tab-lab-attach-cname"   class="cls-c1-r1">
                                <div id="edit-lab-attach-cname">Attach中文✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="edit-tab-txt-attach-cname"   class="cls-c3-r1">
                                <input type="text" id="edit-input-attach-cname" name="edit-input-attach-cname"></input>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="1"  rowspan="1" id="edit-tab-lab-attach-ename"   class="cls-c1-r1">
                                <div id="edit-lab-attach-ename">Attach英文✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="edit-tab-txt-attach-ename"   class="cls-c3-r1">
                                <input type="text" id="edit-input-attach-ename" name="edit-input-attach-ename"></input>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="1"  rowspan="1" id="edit-tab-lab-attach-link"   class="cls-c1-r1">
                                <div id="edit-lab-attach-link">Attach路徑✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="edit-tab-txt-attach-link"   class="cls-c3-r1">
                                <!-- <input type="text" id="edit-input-attach-link" name="edit-input-attach-link"></input> -->
                                <textarea id="edit-input-attach-link" name="edit-input-attach-link" rows="3" cols="40" required></textarea>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="1"  rowspan="1" id="edit-tab-lab-attach-file"   class="cls-c1-r1">
                                <div id="edit-lab-attach-file">Attach檔案✱</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="edit-tab-txt-attach-file"   class="cls-c3-r1">
                                <input type="text" id="edit-input-attach-file" name="edit-input-attach-file"></input>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="1"  rowspan="1" id="edit-tab-lab-enable"   class="cls-c1-r1">
                                <div id="edit-lab-enable">狀態</div>
                            </th>
                            <th colspan="1"  rowspan="1" id="edit-tab-txt-enable"   class="cls-c1-r1">
                                <select id="edit-sel-enable" name="select-enable">
                                    <option value="false">停用</option>
                                    <option value="true"  selected="selected">啟用</option>
                                </select>
                            </th>
                            <th colspan="2"  rowspan="1" id="edit-tab-empty"   class="cls-c2-r1"></th>
                        </tr>
                        <tr>
                            <th colspan="1"  rowspan="1" id="edit-tab-lab-memo"   class="cls-c1-r1">
                                <div id="edit-lab-memo">備註</div>
                            </th>
                            <th colspan="3"  rowspan="1" id="edit-tab-txt-memo"   class="cls-c3-r1">
                                <textarea id="edit-input-memo" name="edit-input-memo" rows="3" cols="40" required></textarea>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>


        <!-- 功能項按鈕 -->
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button id="btn-add" class="layui-btn layui-btn-normal layui-bg-blue"  lay-event="add-data" title="新增資料">
                    <i class="layui-icon layui-icon-addition" ></i>新增
                </button>
                <button id="btn-edit" class="layui-btn layui-btn-normal layui-bg-orange" lay-event="edit-data"  title="編輯資料">
                    <i class="layui-icon layui-icon-edit"  ></i>編輯
                </button>
                <button id="btn-delete" class="layui-btn layui-btn-normal layui-bg-red"  lay-event="delete-data" title="刪除資料">
                    <i class="layui-icon layui-icon-delete"></i>刪除
                </button>
            </div>
        </script>


        <script>

            // 渲染樣式
            function addIconforBtn(mode) {
                var btn1 = $(".layui-layer-btn .layui-layer-btn0");
                var btn2 = $(".layui-layer-btn .layui-layer-btn1");
                // 警告
                if(mode == 0) {
                    btn1.css({"background-color":"#ff0066", "border-color": "#555555", "font-size":"18px"});
                    btn2.css({"background-color":"#ffe6f0", "border-color": "#555555", "font-size":"18px"});
                }
                // 查詢
                if(mode == 1) {
                    btn1.css({"background-color":"#cc99ff", "border-color": "#555555", "font-size":"18px"});
                     btn2.css({"background-color":"#f2e6ff", "border-color": "#555555", "font-size":"18px"});
                }
                // 新增
                if(mode == 2) {
                    btn1.css({"background-color":"#1E9FFF", "border-color": "#555555", "font-size":"18px"});
                    btn2.css({"background-color":"#e6f4ff", "border-color": "#555555", "font-size":"18px"});
                }
                // 檢視
                if(mode == 3) {
                    btn1.css({"background-color":"#009688", "border-color": "#555555", "font-size":"18px"});
                    btn2.css({"background-color":"#e6fffc", "border-color": "#555555", "font-size":"18px"});
                }
                // 編輯
                if(mode == 4) {
                    btn1.css({"background-color":"#FFB800", "border-color": "#555555", "font-size":"18px"});
                    btn2.css({"background-color":"#fff8e6", "border-color": "#555555", "font-size":"18px"});
                }
                // 刪除
                if(mode == 5) {
                    btn1.css({"background-color":"#FF5722", "border-color": "#555555", "font-size":"18px"});
                    btn2.css({"background-color":"#ffebe6", "border-color": "#555555", "font-size":"18px"});
                }
            }


            layui.use( ['form', 'layer', 'jquery', 'table'], function() {
                var layer    = layui.layer;
                var laypage  = layui.laypage;
                var table    = layui.table;
                var $        = layui.jquery;
                var form     = layui.form;

                //讀取 task 資料
                var data_url = "http://{{ DOMAIN_PATH }}/api/v0/db/data/attach/all/";
                $.ajax({
                    url: data_url,
                    type: "GET",
                    processData: false,
                    contentType: false,
                    success: function (response) {

                        //取資料成功!
                        console.log("取Attach資料成功");
                        console.log(response);

                        table.render({
                            elem: '#demo',
                            height: 724,
                            data: response['data'],
                            title: 'Attach編輯管理',
                            page: true,
                            even: true,
                            limit: 10,
                            limits: [10, 20, 50, 100, 500, 1000],
                            skin: 'row',
                            size: 'lg',
                            //toolbar: 'default',
                            toolbar: '#toolbarDemo',
                            defaultToolbar: ['filter', 'exports', 'print'
                            //{ title: '提示', layEvent: 'LAYTABLE_TIPS',icon: 'layui-icon-tips'}  //自定工具欄圖標 - 提示
                            ],
                            totalRow: true,
                            cols: [[ 
                                {type:  'checkbox',     fixed: 'left'},
                                {field: 'uuid',         title: '識別碼',       width: 300, align:'left', sort: true, hide: true },
                                {field: 'attach_code',  title: 'Attach編碼',   width: 150, align:'left', sort: true, hide: false},
                                {field: 'attach_cname', title: 'Attach中文名', width: 200, align:'left', sort: true, hide: false},
                                {field: 'attach_ename', title: 'Attach英文名', width: 250, align:'left', sort: true, hide: false},
                                {field: 'attach_link',  title: 'Attach路徑',   width: 400, align:'left', sort: true, hide: false},
                                {field: 'attach_file',  title: 'Attach檔案',   width: 200, align:'left', sort: true, hide: false},
                                {field: 'enable',       title: '啟用狀態',     width: 100, align:'center' },
                                {field: 'memo',         title: '備註',         width: 200, hide: false },
                                {field: 'insertAt',     title: '新增時間',     width: 135, sort: true, hide: true},
                                {field: 'updateAt',     title: '更新時間',     width: 135, sort: true, hide: true},
                            ]],
                            done: function(res, curr, count) {
                                //console.log(count);
                                //layer.msg('目前page:'+ curr.toString() );
                                //window.refresh();
                            },
                            text: {
                                none: '目前暫無數據'
                            }
                        });

                    },
                    error: function (xhr, status, error) {
                        layer.msg("取Attach資料失敗");
                    }
                });



                //----------------------------------上方功能按鈕事件
                table.on('toolbar(test)', function(obj) {
                    var checkStatus = table.checkStatus(obj.config.id);

                    switch(obj.event) {
                        case 'add-data':
                            layer.open({
                                type       : 1,
                                skin       : 'layui-layer-molv', //layui-layer-rim
                                resize     : false,
                                shadeClose : false,
                                shade      : [0.7, '#000'],
                                closeBtn   : 2,
                                offset     : 'auto',
                                anim       : 5,
                                area       : ['580px', '600px'], 
                                title      : ['新增視窗-Attach編輯', 'font-size:20px;background-color:#1E9FFF;'],
                                btn        : ['新增','取消'],
                                content    : $('#form-template-add').html(),
                                success: function(layero, index) {

                                    addIconforBtn(2);
                                    //layero.find('.layui-layer-content').css('overflow-y', 'visible');
                                    //layero.find('.layui-layout-body'  ).css('overflow-y', 'auto'   );
                                },
                                yes:function (index, layero) {

                                    //layer.msg('開啟新增資料彈出視窗');
                                    var strAttachCode  = $('#add-input-attach-code' ).val();
                                    var strAttachCName = $('#add-input-attach-cname').val();
                                    var strAttachEName = $('#add-input-attach-ename').val();
                                    var strAttachLink  = $('#add-input-attach-link' ).val();
                                    var strAttachFile  = $('#add-input-attach-file' ).val();
                                    var bEnable        = $('#add-sel-enable'        ).val();
                                    var strMemo        = $('#add-input-memo'        ).val();

                                    // 判斷必填欄位
                                    if ( strAttachCode == '' || strAttachCName == '' || strAttachEName == '' || strAttachFile == '' ) {
                                        layer.msg('有必填欄位沒填, 請檢查欄位');

                                    }else {

                                        async function addStatusData() {
                                            let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/data/attach/one/";
                                            let objParam = { 
                                                "attach_code":  strAttachCode,
                                                "attach_cname": strAttachCName,
                                                "attach_ename": strAttachEName,
                                                "attach_link":  strAttachLink,
                                                "attach_file":  strAttachFile,
                                                "memo":         strMemo,
                                                "enable":       bEnable,
                                            };
                                            let jsonParam = JSON.stringify(objParam);
                                            const res = await fetch(uri, {
                                                method:'POST',
                                                body: jsonParam,
                                                headers: {'Content-Type':'application/json; charset=utf-8'}
                                            });
                                            return await res.json();
                                        }

                                        let promiseAdd = addStatusData();
                                        promiseAdd.then( (response) => {
                                            layer.msg(response['msg'])
                                            console.log(response);
                                            layer.close(index);
                                            window.parent.location.reload();
                                            
                                        });
                                    }
                                }
                            });
                            break;


                        case 'edit-data':
                            var data = checkStatus.data;

                            if(data.length === 0) {
                                layer.msg('請選擇一筆資料');
                            } else if(data.length > 1){
                                layer.msg('只能同時编辑一筆資料');
                            } else {
                                //layer.msg('開啟編輯資料彈出視窗');

                                layer.open({
                                    type       : 1,
                                    skin       : 'layui-layer-molv', //layui-layer-rim
                                    resize     : false,
                                    shadeClose : false,
                                    shade      : [0.7, '#000'],
                                    closeBtn   : 2,
                                    offset     : 'auto',
                                    anim       : 5,
                                    area       : ['580px', '600px'], //寬高
                                    title      : ['編輯視窗-Attach編輯', 'font-size:20px;background-color:#FFB800;'],
                                    btn        : ['修改','取消'],
                                    content    : $('#form-template-edit').html(),
                                    success: function(layero, index) {
                                        //console.log(layero);
                                        addIconforBtn(4);

                                        console.log(checkStatus.data[0]);
                                        $('#edit-input-attach-code' ).val( checkStatus.data[0].attach_code  );
                                        $('#edit-input-attach-cname').val( checkStatus.data[0].attach_cname );
                                        $('#edit-input-attach-ename').val( checkStatus.data[0].attach_ename );
                                        $('#edit-input-attach-link' ).val( checkStatus.data[0].attach_link  );
                                        $('#edit-input-attach-file' ).val( checkStatus.data[0].attach_file  );

                                        var strEnableOptions = '';
                                        if ( (checkStatus.data[0].enable).toString() == 'false' ) {
                                        strEnableOptions += '<option value="false" selected="selected">停用</option>';
                                        strEnableOptions += '<option value="true">啟用</option>';
                                        }else {
                                        strEnableOptions += '<option value="false">停用</option>';
                                        strEnableOptions += '<option value="true" selected="selected">啟用</option>';
                                        }
                                        document.getElementById("edit-sel-enable").innerHTML = strEnableOptions;


                                        $('#edit-input-memo'      ).val( checkStatus.data[0].memo       );

                                    },
                                    yes:function (index, layero) {
                                        //alert('修改按钮觸發');
                                        var strUUID   = checkStatus.data[0].uuid;
                                        var strAttachCode  = $('#edit-input-attach-code' ).val();
                                        var strAttachCName = $('#edit-input-attach-cname').val();
                                        var strAttachEName = $('#edit-input-attach-ename').val();
                                        var strAttachLink  = $('#edit-input-attach-link' ).val();
                                        var strAttachFile  = $('#edit-input-attach-file' ).val();
                                        var bEnable        = $('#edit-sel-enable'        ).val();
                                        var strMemo        = $('#edit-input-memo'        ).val();

                                        // 判斷必填欄位
                                        if ( strAttachCode == '' || strAttachCName == '' || strAttachEName == '' || strAttachFile == '' ) {
                                            layer.msg('有必填欄位沒填, 請檢查欄位');

                                        }else {
                                        
                                        
                                            //if (tempEnable == "0") { bEnable = false; } else { bEnable = true; }
                                            async function UpdateStatusData() {
                                                let uri = "http://{{ DOMAIN_PATH }}/api/v0/update/attach/";
                                                let objParam = { 
                                                    "uuid":         strUUID,
                                                    "attach_code":  strAttachCode,
                                                    "attach_cname": strAttachCName,
                                                    "attach_ename": strAttachEName,
                                                    "attach_link":  strAttachLink,
                                                    "attach_file":  strAttachFile,
                                                    "enable":       bEnable,
                                                    "memo":         strMemo,
                                                };
                                                let jsonParam = JSON.stringify(objParam);
                                                console.log(jsonParam);
                                                const res = await fetch(uri, {
                                                    method:'POST',
                                                    body: jsonParam,
                                                    headers: { 'Content-Type':'application/json; charset=utf-8' }
                                                });
                                                return await res.json();
                                            }
                                            let promiseUpdate = UpdateStatusData();
                                            promiseUpdate.then( (response) => {

                                                if(response['result'] == 'ok') {
                                                    //console.log(response['data']['msg']);
                                                    layer.msg(response['msg'])
                                                    layer.close(index);
                                                    //table.reload('demo');
                                                    window.parent.location.reload();

                                                }else if(response['result'] == 'fail') {
                                                    layer.msg(response['msg'])
                                                    layer.close(index);
                                                }
                                            });

                                        }
                                        
                                    }
                                });
                            }
                            break;

                        case 'delete-data':
                            //layer.msg('開啟刪除資料彈出視窗');
                            var data = checkStatus.data;
                            if (data.length === 0) {
                                layer.msg('請選擇一筆資料');
                            } else {
                                layer.open({
                                    type       : 1,
                                    skin       : 'layui-layer-molv', //layui-layer-rim
                                    resize     : true,
                                    shadeClose : false,
                                    shade      : [0.7, '#000'],
                                    closeBtn   : 2,
                                    offset     : 'auto',
                                    anim       : 5,
                                    area       : ['450px', '280px'], 
                                    title      : ['刪除視窗-Attach編輯', 'font-size:20px;background-color:#FF5722;'],
                                    btn        : ['刪除','取消'],
                                    content: '<div style="padding: 15px;">你否確定要刪除?<br><br><div id="view-txt-msg"></div></div>',
    
                                    success: function(layero, index) {
                                        addIconforBtn(5);
                                        console.log(layero, index);
                                        //layero.find('.layui-layer-content').css('overflow-y', 'visible');
                                        var strCode = "";
                                        for (var i=0; i< data.length; i++) {
                                            strCode += "<li>";
                                            strCode += "[識別碼] " + checkStatus.data[i].uuid;
                                            strCode += "</li>";
                                        }
                                        layero.find("#view-txt-msg").html(strCode);
                                    },
                                    yes:function (index, layero) {

                                        //alert('刪除按钮觸發');
                                        var removeDataList = [];
                                        for (var i=0; i< data.length; i++) {
                                            removeDataList.push(checkStatus.data[i].uuid)
                                        }
                                        console.log(removeDataList);
                                        //layer.close(index);

                                        async function deleteMultReasonData(dataList) {
                                            let uri = "http://{{ DOMAIN_PATH }}/api/v0/delete/attach/multi/";
                                            let objParam = { uuids: dataList };
                                            let jsonParam = JSON.stringify(objParam);
                                            const res = await fetch(uri, {
                                                method:'delete',
                                                body:jsonParam,
                                                headers: {'Content-Type': 'application/json; charset=utf-8'}
                                            });
                                            return await res.json();
                                        }
                                        let promiseDelete = deleteMultReasonData(removeDataList);
                                        promiseDelete.then( (response) => {
                                            if(response['result'] == 'ok') {
                                                //console.log(response['data']['msg']);
                                                //layer.msg(response['data']['msg'])
                                                layer.close(index);
                                                window.parent.location.reload();
                                                //table.reload('demo');

                                            }else if(response['result'] == 'fail') {
                                                layer.msg(response['msg'])
                                                layer.close(index);
                                            }
                                        });

                                    }
                                });
                            }
                            break;
                        
                    }

                });




            });


        </script>



    </body>

</html>