<!DOCTYPE html>
<html lang="en">

    <head>

        {% include 'common/header.html' %}
        <title>RD內部開案指派任務(檢視)</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/internal_project_display.css') }}" />
        <script src="{{ url_for('static', filename='/js/dom-to-image.js') }}"></script>
        
    </head>


    <body id="root">
        <!-- 上方主標題欄 -->
        {% include 'common/title_bar.html' %}

        <!-- 內容群組區背景 -->
        <div id="div-content-group">

            <!-- 表單標題 -->
            <div id="function-bar"></div>

            <div id="id-table-bg"><div id="form-title-text"><b>RD內部開案指派任務(檢視)</b></div>

            <!-- 表單 -->
          

                <!-- 表單標題 -->
                <!-- <thead id="table-head"> -->
                    <!-- 輔助格線 -->
                    <!-- <tr>
                        <td colspan="1" class="c-base" id="c-1">1</td>
                        <td colspan="1" class="c-base" id="c-2">2</td>
                        <td colspan="1" class="c-base" id="c-3">3</td>
                        <td colspan="1" class="c-base" id="c-4">4</td>
                        <td colspan="1" class="c-base" id="c-5">5</td>
                        <td colspan="1" class="c-base" id="c-6">6</td>
                        <td colspan="1" class="c-base" id="c-7">7</td>
                    </tr> -->
                <!-- </thead> -->

                <table id="id-table-form">

                    <!-- 表單標題 -->
                    <thead id="table-head">
                        <tr>
                            <th colspan="2" rowspan="1" id="lab-submit-member" class="cls-c2-r1">申請人</th>
                            <th colspan="2" rowspan="1" id="txt-submit-member" class="cls-c2-r1">{{INTERNAL_MODEL['member_cname']}}</th>
                            <th colspan="2" rowspan="1" id="lab-form-date" class="cls-c2-r1">申請日期</th>
                            <th colspan="2" rowspan="1" id="txt-form-date" class="cls-c2-r1">{{INTERNAL_MODEL['apply_date']}}</th>
                            <th colspan="2" rowspan="1" id="lab-form-code" class="cls-c2-r1">單據編號</th> 
                            <th colspan="4" rowspan="1" id="txt-form-no" class="cls-c4-r1">{{INTERNAL_MODEL['form_no']}}</th>
                            <th colspan="2" rowspan="1" id="lab-form-no"   class="cls-c2-r1">專案代號</th>
                            <th colspan="4" rowspan="1" id="txt-project-no"   class="cls-c4-r1">{{INTERNAL_MODEL['project_no']}}</th>
                        </tr>
                    </thead>

                <!-- 表單內容 ☐ ☑ -->
                <tbody id="table-body">

                    <tr>
                        <th colspan="3" rowspan="9" id="lab-base-explain" class="cls-c3-r9">立案產品 </br> 基本說明</th>
                       
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-project-name" class="cls-c3-r1">專案名稱✱</th>
                        <th colspan="14" rowspan="1" id="txt-project-name" class="cls-c14-r1">{{INTERNAL_MODEL['project_name']}}</th>
                    </tr>
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-product-explan" class="cls-c3-r1">專案說明✱</th>
                        <th colspan="14" rowspan="1" id="txt-product-explan" class="cls-c14-r1">{{INTERNAL_MODEL['project_describe']}}
                        </th>
                    </tr>
                    <tr>
                      
                    </tr>
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-spec" class="cls-c3-r1">規格需求說明✱</th>
                        <th colspan="14" rowspan="1" id="txt-spec" class="cls-c14-r1">{{INTERNAL_MODEL['spec_describe']}}
                        </th>
                    </tr>
                    <tr>
                       
                       
                    </tr>
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-project-finish" class="cls-c3-r1">目標專案完成日</th>
                        <th colspan="14" rowspan="1" id="txt-project-finish" class="cls-c14-r1">{{INTERNAL_MODEL['expected_finished_date']}}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-target-cost" class="cls-c3-r1">目標成本</th>
                        <th colspan="14" rowspan="1" id="txt-target-cost" class="cls-c14-r1">{{INTERNAL_MODEL['cost']}}
                        </th>
                    </tr>
                    <tr>
                       

                    </tr>

                     <!-- 上傳檔案 -->
                     <tr>
                        <th colspan="3" rowspan="2" id="lab-attach-file"   class="cls-c3-r2">附加檔案✱</th>
                        
                        <!-- <th colspan="17" rowspan="1" id="empty-submit" class="cls-c17-r1">
                            <form action="" method=post enctype=multipart/form-data id="upload-form">
                                <p><input type=file name=file id="btn-file">
                                <button id="btn-upload" class="layui-btn" lay-event="form-submit" title="上傳檔案">
                                    <i class="layui-icon layui-icon-upload-drag"></i>上傳檔案
                                </button>
                            </form>
                        </th> -->
                        
                    </tr>
                    <tr>
                        <!-- <th colspan="3" rowspan="1" id="lab-attach-file"   class="cls-c3-r1">附加檔案✱</th> -->
                        <th colspan="17" rowspan="1" id="file-list" class="cls-c17-r1">
                            <div id="myUL">
                            </div>
                        <th>
                    </tr>

                    
                    
                    
                    <tr>
                        <!-- <th colspan="18" rowspan="1" id="lab-symbol" class="cls-c18-r1">
                            <div id="txt-symbol">✱ 為必填欄位</div>
                        </th>
                        <th colspan="2" rowspan="1" id="lab-submit-button" class="cls-c2-r1"> -->
                            <!-- <button id="btn-submit" class="layui-btn layui-btn-normal" title="送出資料">
                                <i class="layui-icon layui-icon-email"></i>確認
                            </button> -->
                           
                            <!-- <button id="btn-test" class="cls-send-btn" title="送出資料">
                                <i class="layui-icon layui-icon-email"></i>TEST
                            </button> -->
                            
                        </th>
                    </tr>
                    
                    <!--<tr id="help-axis">-->
                    <td colspan="1" class="c-base" id="c-1"></td>
                    <td colspan="1" class="c-base" id="c-2"></td>
                    <td colspan="1" class="c-base" id="c-3"></td>
                    <td colspan="1" class="c-base" id="c-4"></td>
                    <td colspan="1" class="c-base" id="c-5"></td>
                    <td colspan="1" class="c-base" id="c-6"></td>
                    <td colspan="1" class="c-base" id="c-7"></td>
                    <td colspan="1" class="c-base" id="c-8"></td>
                    <td colspan="1" class="c-base" id="c-9"></td>
                    <td colspan="1" class="c-base" id="c-10"></td>

                    <td colspan="1" class="c-base" id="c-11"></td>
                    <td colspan="1" class="c-base" id="c-12"></td>
                    <td colspan="1" class="c-base" id="c-13"></td>
                    <td colspan="1" class="c-base" id="c-14"></td>
                    <td colspan="1" class="c-base" id="c-15"></td>
                    <td colspan="1" class="c-base" id="c-16"></td>
                    <td colspan="1" class="c-base" id="c-17"></td>
                    <td colspan="1" class="c-base" id="c-18"></td>
                    <td colspan="1" class="c-base" id="c-19"></td>
                    <td colspan="1" class="c-base" id="c-20"></td>
                    <!--</tr>-->

                </tbody>
              
            </table>      
                
                <!-- <tbody id="table-body">
                
                    <tr>
                        <th colspan="2" rowspan="1" id="lab-form-no" class="cls-c2-r1">單據編號</th>
                        <th colspan="5" rowspan="1" id="txt-form-no" class="cls-c5-r1">{{INTERNAL_MODEL['form_no']}}</th>
                    </tr>
                    <tr>
                        <th colspan="2" rowspan="1" id="lab-project-no" class="cls-c2-r1">專案案號</th>
                        <th colspan="5" rowspan="1" id="txt-project-no" class="cls-c5-r1">{{INTERNAL_MODEL['project_no']}}</th>
                    </tr>
                    <tr>
                        <th colspan="2" rowspan="1" id="lab-project-name" class="cls-c2-r1">專案名稱</th>
                        <th colspan="5" rowspan="1" id="txt-project-name" class="cls-c5-r1">{{INTERNAL_MODEL['project_name']}}</th>
                    <tr>
                        <th colspan="2" rowspan="1" id="lab-project-explan" class="cls-c2-r1">專案規格</th>
                        <th colspan="5" rowspan="1" id="txt-project-explan" class="cls-c5-r1">{{INTERNAL_MODEL['spec_describe']}}</th>
                    </tr>
                    <tr>
                        <th colspan="2" rowspan="1" id="lab-assign" class="cls-c2-r1">指派人員</th>
                        <th colspan="5" rowspan="1" id="txt-assign" class="cls-c3-r1">
                            <ul>
                                {% for item in TASK_MODEL['member_list'] %}
                                <li>{{ item['cName'] }}</li>
                                {% endfor %}
                            </ul>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2" rowspan="1" id="lab-project-start" class="cls-c2-r1">預計執行開始時間</th>
                        <th colspan="2" rowspan="1" id="txt-project-start" class="cls-c2-r1">{{INTERNAL_MODEL['expected_start_date']}}</th>
                        <th colspan="3" rowspan="1" id="empty-project-start" class="cls-c3-r1">
                    </tr>
                    <tr>
                        <th colspan="2" rowspan="1" id="lab-project-end" class="cls-c2-r1">預計執行完畢時間</th>
                        <th colspan="2" rowspan="1" id="txt-project-end" class="cls-c2-r1">{{INTERNAL_MODEL['expected_end_date']}}</th>
                        <th colspan="3" rowspan="1" id="empty-project-start" class="cls-c3-r1">
                    </tr>
                    <tr>
                        <th colspan="2" rowspan="1" id="lab-attach-file"   class="cls-c2-r1">附加檔案✱</th>
                        <th colspan="5" rowspan="1" id="file-list" class="cls-c5-r1">
                            <div id="myUL"></div>
                        <th>
                    </tr>
                    
                </tbody>

            </table> -->
            <br/>
            <div id="footer"></div>

        </div>

        <script>
            var selectNameList = []
            //取得專案已上傳的檔案
            async function get_upload_file() {
                let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/find/upload_file/?project_no=" + "{{INTERNAL_MODEL['project_no']}}";
                const res = await fetch(uri, {
                    method: 'get',
                    headers: { 'Content-Type': 'application/json; charset=utf-8' }
                });
                return await res.json();
            } //get_upload_file


            //顯示已上傳的檔案
            function testElement(strFileName) {
                var li = document.createElement("div");
                li.className = "list-file-item";
                li.id = strFileName;
                if(strFileName != null) {
                    // 文字
                    var divobj = document.createElement("a");
                    divobj.className = "text-filename";
                    strsplit = strFileName.split('/')
                    //console.log(strsplit[strsplit.length-1])  
                    var t = document.createTextNode(strsplit[strsplit.length-1]);
                    divobj.href = strFileName;
                    //divobj.target = "_blank";
                    divobj.appendChild(t);
                    li.appendChild(divobj);
                    document.getElementById("myUL").appendChild(li);
                    selectNameList.push(strFileName);
                }
            }//testElement

            async function get_form_flow() {
                let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/form_flow/?form_no={{INTERNAL_MODEL['form_no']}}";
                const res = await fetch(uri, {
                    method: 'get',
                    headers: { 'Content-Type': 'application/json; charset=utf-8' }
                });
                return await res.json();
            }  //get_form_flow


            //簽核流程title
            function generate_table_row() {
                var table_body = document.getElementById('table-body');
                var table_row  = document.createElement('tr');
                // 表頭的內容（表頭列名）
                var headers = [
                    {name :'簽核人員', colSpan : 6},
                    {name :'簽核時間', colSpan : 6},
                    {name :'簽核意見', colSpan : 8} 
                ];
                // 動態生成表頭（th）元素並加入到表頭行
                var rowCount = [2,2,3];
                for (var i = 0; i < headers.length; i++) {
                    var th = document.createElement('th');
                    th.textContent = headers[i].name;
                    th.setAttribute('colspan', headers[i].colSpan);
                    //th.className = "cls-c" + rowCount[i] +"-r1-h2";  
                    th.className = "cls-c6-r1-h1";  
                    table_row.appendChild(th);
                }
                table_body.appendChild(table_row);
            } //generate_table_row


            //簽核流程資料
            function generate_sign_data_row() {
                var table_body = document.getElementById('table-body');
                Promise.all([get_form_flow()]).then((response)=> {
                    console.log(response)
                    if(response[0]['result'] == 'ok') {
                        for(let i = 0 ; i<response[0]['data'].length ; i++) {
                                var tr = document.createElement('tr');
                                var th = document.createElement('th');
                                context = [
                                    {'key': response[0]['data'][i]['user'] , colSpan : 6},
                                    {'key': response[0]['data'][i]['inserted_at'], colSpan : 6},
                                    {'key': response[0]['data'][i]['status'] + " : " + response[0]['data'][i]['memo'], colSpan : 8}
                                ]
                            // 動態生成表頭（th）元素並加入到表頭行
                            for (var j = 0; j < context.length; j++) {
                                var th = document.createElement('th');
                                th.textContent = context[j].key;
                                th.setAttribute('colspan', context[j].colSpan) ;
                                //th.className = "cls-c" +  context[j].colSpan +"-r1-h1";
                                th.className = "cls-c6-r1-h2";  
                                tr.appendChild(th);
                            }
                            table_body.appendChild(tr);
                        }
                    }
                });
            } //generate_sign_data_row

            generate_table_row();
            generate_sign_data_row();

            get_upload_file().then((response)=> {
                console.log(response);
                var file_list = response['data'];
                for(let i = 0 ; i<file_list.length; i++) {
                    testElement(file_list[i]);
                }
            });

        </script>

    </body>

</html>

