<!DOCTYPE html>
<html lang="en">

    <head>
        {% include 'common/header.html' %}
        <title>RD內部開案申請單</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/internal_project_approve.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/side_menu.css') }}" />

        <script src="{{ url_for('static', filename='/js/dom-to-image.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/bootstrap.js') }}"></script>

    </head>

    <body id="root">

        <!-- 上方主標題欄 -->
        {% include 'common/title_bar.html' %}


        <!-- 左邊側邊導覽列選單區 -->
        {% include 'common/side_menu.html' %}

       


        <!-- 內容群組區背景 -->
        <div id="div-content-group">
            <!-- 表單標題 -->
            <div id="function-bar">
            </div>

            <div id="id-table-bg">
                <div id="form-title-text"><b>RD內部開案申請單</b></div>

                <table id="id-table-form">

                    <!-- 表單標題 -->
                    <thead id="table-head">
                        <tr>
                            <th colspan="2" rowspan="1" id="lab-submit-member" class="cls-c2-r1">申請人</th>
                            <th colspan="2" rowspan="1" id="txt-submit-member" class="cls-c2-r1">{{INTERNAL_PROJECT_MODEL['member_cname']}}</th>
                            <th colspan="2" rowspan="1" id="lab-form-date" class="cls-c2-r1">申請日期</th>
                            <th colspan="2" rowspan="1" id="txt-form-date" class="cls-c2-r1">{{INTERNAL_PROJECT_MODEL['apply_date']}}</th>
                            <th colspan="2" rowspan="1" id="lab-form-code" class="cls-c2-r1">單據編號</th> 
                            <th colspan="4" rowspan="1" id="txt-form-no" class="cls-c4-r1">{{INTERNAL_PROJECT_MODEL['form_no']}}</th>
                            <th colspan="2" rowspan="1" id="lab-form-no"   class="cls-c2-r1">專案代號</th>
                            <th colspan="4" rowspan="1" id="txt-project-no"   class="cls-c4-r1">{{INTERNAL_PROJECT_MODEL['project_no']}}</th>
                        </tr>
                    </thead>

                <!-- 表單內容 ☐ ☑ -->
                <tbody id="table-body">

                    <tr>
                        <th colspan="3" rowspan="9" id="lab-base-explain" class="cls-c3-r9">立案產品 </br> 基本說明</th>
                       
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-project-name" class="cls-c3-r1">專案名稱✱</th>
                        <th colspan="14" rowspan="1" id="txt-project-name" class="cls-c14-r1">{{INTERNAL_PROJECT_MODEL['project_name']}}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-product-explan" class="cls-c3-r1">專案說明✱</th>
                        <th colspan="14" rowspan="1" id="txt-product-explan" class="cls-c14-r1">{{INTERNAL_PROJECT_MODEL['project_describe']}}
                        </th>
                    </tr>
                    <tr>
                      
                    </tr>
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-spec" class="cls-c3-r1">規格需求說明✱</th>
                        <th colspan="14" rowspan="1" id="txt-spec" class="cls-c14-r1">{{INTERNAL_PROJECT_MODEL['spec_describe']}}
                        </th>
                    </tr>
                    <tr>
                       
                       
                    </tr>
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-project-finish" class="cls-c3-r1">目標專案完成日</th>
                        <th colspan="14" rowspan="1" id="txt-project-finish" class="cls-c14-r1">{{INTERNAL_PROJECT_MODEL['expected_finished_date']}}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" rowspan="1" id="lab-target-cost" class="cls-c3-r1">目標成本</th>
                        <th colspan="14" rowspan="1" id="txt-target-cost" class="cls-c14-r1">{{INTERNAL_PROJECT_MODEL['cost']}}
                        </th>
                    </tr>
                    <tr>
                       

                    </tr>

                     <!-- 上傳檔案 -->
                      
                    <tr>
                        <th colspan="3" rowspan="2" id="lab-attach-file"   class="cls-c3-r2">附加檔案</th>
                        
                        <!-- <th colspan="17" rowspan="1" id="empty-submit" class="cls-c17-r1">
                            <form action="" method=post enctype=multipart/form-data id="upload-form">
                                <p><input type=file name=file id="btn-file">
                                <button id="btn-upload" class="layui-btn" lay-event="form-submit" title="上傳檔案">
                                    <i class="layui-icon layui-icon-upload-drag"></i>上傳檔案
                                </button>
                            </form>
                        </th> -->
                        
                    </tr>
                    <tr>
                        <!-- <th colspan="3" rowspan="1" id="lab-attach-file"   class="cls-c3-r1">附加檔案✱</th> -->
                        <th colspan="17" rowspan="1" id="file-list" class="cls-c17-r1">
                            <div id="myUL">
                            </div>
                        <th>
                    </tr>
                     <!-- <tr>
                        <th colspan="3" rowspan="2" id="lab-attach-file"   class="cls-c3-r2">附加檔案✱</th>
                        
                        <th colspan="17" rowspan="1" id="empty-submit" class="cls-c17-r1">
                            <form action="" method=post enctype=multipart/form-data id="upload-form">
                                <p><input type=file name=file id="btn-file">
                                <button id="btn-upload" class="layui-btn" lay-event="form-submit" title="上傳檔案">
                                    <i class="layui-icon layui-icon-upload-drag"></i>上傳檔案
                                </button>
                            </form>
                        </th>
                        
                    </tr>
                    <tr>-->
                   
                    
                    
                    
                    <tr>
                        <th colspan="16" rowspan="1" id="lab-symbol" class="cls-c18-r1">
                            <!-- <div id="txt-symbol">✱ 為必填欄位</div> -->
                        </th>
                        <th colspan="2" rowspan="1" id="lab-submit-button" class="">
                            <button id="btn-submit" class="layui-btn layui-btn-normal" title="送出資料">
                                <i class="layui-icon layui-icon-email"></i>同意
                            </button>
                        </th>
                        <th colspan="2" rowspan="1" id="lab-submit-button" class="">
                            <button id="btn-submit" class="layui-btn layui-btn-danger" title="送出資料">
                                <i class="layui-icon layui-icon-close"></i>退回
                            </button>                             
                        </th>
                    </tr>
                    
                    <!--<tr id="help-axis">-->
                    <td colspan="1" class="c-base" id="c-1"></td>
                    <td colspan="1" class="c-base" id="c-2"></td>
                    <td colspan="1" class="c-base" id="c-3"></td>
                    <td colspan="1" class="c-base" id="c-4"></td>
                    <td colspan="1" class="c-base" id="c-5"></td>
                    <td colspan="1" class="c-base" id="c-6"></td>
                    <td colspan="1" class="c-base" id="c-7"></td>
                    <td colspan="1" class="c-base" id="c-8"></td>
                    <td colspan="1" class="c-base" id="c-9"></td>
                    <td colspan="1" class="c-base" id="c-10"></td>

                    <td colspan="1" class="c-base" id="c-11"></td>
                    <td colspan="1" class="c-base" id="c-12"></td>
                    <td colspan="1" class="c-base" id="c-13"></td>
                    <td colspan="1" class="c-base" id="c-14"></td>
                    <td colspan="1" class="c-base" id="c-15"></td>
                    <td colspan="1" class="c-base" id="c-16"></td>
                    <td colspan="1" class="c-base" id="c-17"></td>
                    <td colspan="1" class="c-base" id="c-18"></td>
                    <td colspan="1" class="c-base" id="c-19"></td>
                    <td colspan="1" class="c-base" id="c-20"></td>
                    <!--</tr>-->

                </tbody>

            </table>      

        </div>

               <!-- 彈出指派任務視窗 -->
               <template id="task-template">

                <div id="task-window-bg">
    
                    <table id="task-win-table">
    
                        <tbody id="task-table-body">
                            <tr>
                                <!-- <th colspan="2" rowspan="1" id="lab-project-no" class="tab-c2-r1">專案案號</th>
                                <th colspan="3" rowspan="1" id="txt-project-no" class="tab-c3-r1">
                                   
                                </th> -->
                            </tr>
                            <tr>
                                <!-- <th colspan="2" rowspan="1" id="lab-project-name" class="tab-c2-r1">產品名稱</th>
                                <th colspan="3" rowspan="1" id="txt-project-name" class="tab-c3-r1">
                                    
                                </th> -->
                            </tr>
                            <tr>
                                <th colspan="2" rowspan="1" id="lab-assign" class="tab-c2-r1">指派人員</th>
                                <th colspan="2" rowspan="1" id="txt-assign" class="tab-c2-r1">
                                    <select id="select-assign">
                                        <option></option>
                                    </select>
                                </th>
                                <th colspan="1" rowspan="1" id="txt-assign" class="tab-c1-r1">
                                    <!-- <button id="btn-add" class="layui-btn" title="加入" onclick="newElement();"> -->
                                    <button id="btn-add" class="layui-btn" title="加入">
                                        <i class="layui-icon layui-icon-addition"></i>加入
                                    </button>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="5" rowspan="1" id="txt-list" class="tab-c5-r1">
                                    <div id="member-ul"></div>
                                    <!--
                                    <ul id="myUL"></ul>
                                    -->
                                </th>
                            </tr>
                            <!-- 預估RD 專案開始時間 -->
                            <tr>
                                <th colspan="2" rowspan="1" id="lab-project-start" class="tab-c2-r1">預計執行開始時間</th>
                                <th colspan="3" rowspan="1" id="txt-project-start" class="tab-c3-r1">
                                    <input type="date" id="input-project-start" value="">
                                </th>
                            </tr>
                        
                            <!-- 預估RD 專案結束時間 -->
                            <tr>
                                <th colspan="2" rowspan="1" id="lab-project-end" class="tab-c2-r1">預計執行完畢時間</th>
                                <th colspan="3" rowspan="1" id="txt-project-end" class="tab-c3-r1">
                                    <input type="date" id="input-project-end" value="">
                                </th>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
            </template>


              <!-- 程式區 -->
        <script>



            $("#txt-form-date").text(
                addDate()
            );

                function addDate() {
                    var today = new Date();
                    var nowDD = String(today.getDate()).padStart(2, '0');
                    var nowMM = String(today.getMonth() + 1).padStart(2, '0');
                    var nowYYYY = today.getFullYear();
                    strNowDate = nowYYYY + "-" + nowMM + "-" + nowDD;
                    return strNowDate;
            }
            var memberMap = new Map();
            var mailMap = new Map();
            var groupMap = new Map();
          
        
        
         

            // 渲染樣式
            function addIconforBtn(mode) {
                var btn1 = $(".layui-layer-btn .layui-layer-btn0");
                var btn2 = $(".layui-layer-btn .layui-layer-btn1");
                // 警告
                if (mode == 0) {
                    btn1.css({ "background-color": "#ff0066", "border-color": "#555555", "font-size": "18px" });
                    btn2.css({ "background-color": "#ffe6f0", "border-color": "#555555", "font-size": "18px" });
                }
                // 詢問
                if (mode == 1) {
                    btn1.css({ "background-color": "#1E9FFF", "border-color": "#555555", "font-size": "18px" });
                    btn2.css({ "background-color": "#e6f4ff", "border-color": "#555555", "font-size": "18px" });
                }
            }

                // 按下表單(同意)按紐
                $("#btn-submit").click(async () => {
                            
                            //#region 卡控是否上傳附件

                           
                          

                            insert_form_flow(true);                                  

                            Promise.all(promiseList).then(value => {
                                console.log(value);
                                layer.msg("指派作業完成");
                                page_to_form_list();
                            });


                                
                });
                          
           


               

                function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                }


                //按下退回
                $("#btn-reject").click(function () {
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-molv', //layui-layer-rim
                        resize: true,
                        shadeClose: false,
                        shade: [0.7, '#000'],
                        closeBtn: 2,
                        offset: 'auto',
                        anim: 5,
                        area: ['600px', '400px'],
                        title: ['詢問', 'font-size:24px;background-color:#ff0066;'],
                        btn: ['退回', '取消'],
                        content: $('#taskback-template-edit').html(),//'<div style="padding: 15px; font-size: 22px; font-weight: bold;">{{ USER }}，您是否確定要退回指派？<br><br><div id="view-txt-msg"></div></div>',
                        success: function (layero, index) {
                            addIconforBtn(0);
                        },
                        yes: function (index, layero) {

                            param = {
                                "project_no"              : $("#txt-project-no").val(),
                                "project_name"         : $("#txt-project-name").val(),
                                "member_list"         : "",
                                "expected_start_date"  : $("#input-project-start").val(),
                                "expected_finish_date" : $("#input-project-end").val(),
                                "status"               : "待辦中",
                                "task"                 : "",
                                "mile_stone"           : "",
                                "actual_date"          : "",
                                "back_reason"          : $("#select-taskback-reason").val(),
                                "back_memo"            : $("#input-taskback-memo").val(),
                            }


                            //將task退回資料寫入
                            var settings = {
                                "url": "http://{{ DOMAIN_PATH }}/api/v0/db/new_technology_task/",
                                "method": "POST",
                                "timeout": 0,
                                "headers": {"Content-Type": "application/json"},
                                "data": JSON.stringify(param),
                            };

                            $.ajax(settings).done(function (response) {
                                //console.log(response);
                                layer.close(index);
                            });


                            //寫入表單流程紀錄
                            insert_form_flow(false);

                            //發送退回mail
                            async function send_back_mail() {
                                //let uri = "http://{{ DOMAIN_PATH }}/page/v0/logout/";
                                let uri = "http://{{ DOMAIN_PATH }}/api/v0/send/new_technology_task/back/"
                                let objParam = {
                                    "project_no"    : $("#txt-project-no").val(),
                                    "project_name"  : $("#txt-project-name").val(),
                                    "form_no"       :"{{INTERNAL_PROJECT_MODEL['form_no']}}",
                                    "back_reason"   :$("#select-taskback-reason").val(),
                                    "back_memo"     :$("#input-taskback-memo").val(),
                                    "sender"        : "{{ ACCOUNT }}",
                                    "receiver"      : "{{RECEIVER}}",
                                    "cc"            : "{{RECEIVER}}",
                                };
                                let jsonParam = JSON.stringify(objParam);
                                console.log(jsonParam)
                                const res = await fetch(uri, {
                                    method: 'post',
                                    body: jsonParam,
                                    headers: { 'Content-Type': 'application/json; charset=utf-8' }
                                });
                                return await res.json();
                            }
                            let promisePost = send_back_mail();
                            promisePost.then((response) => {
                                console.log(response);
                                layer.close(index);
                                page_to_form_list();
                                
                            });

                         
                        }
                    });
                });


            

            //取回人員名單
            async function getMemberFun() {
                let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/data/get/member/by_organize/";
                let objParam = {
                    organize: "硬體設計部",
                };
                //console.log(objParam);
                let jsonParam = JSON.stringify(objParam);
                console.log(jsonParam);
                const res = await fetch(uri, {
                    method: 'post',
                    body: jsonParam,
                    headers: { 'Content-Type': 'application/json; charset=utf-8' }
                });
                return await res.json();
            }
           

                        var list = document.querySelector('ul');
                        var selectNameList = [];
           
                    function newMemberElement(strMemberCName) {
                        var li = document.createElement("div");
                        li.className = "list-member-item";
                        li.id = strMemberCName;
                        if(strMemberCName != null) {
                            // 文字
                            var divobj = document.createElement("div");
                            divobj.className = "text-member";
                            var t = document.createTextNode(strMemberCName);
                            //t.id = strMemberCName;
                            divobj.appendChild(t);
                            li.appendChild(divobj);
                            // 刪除按鈕
                            var btn3 = document.createElement("button");
                            btn3.className = "cls-delete-btn-member";
                            
                            var bt3 = document.createTextNode("刪除");
                            btn3.appendChild(bt3);
                            li.appendChild(btn3);
                            btn3.onclick = function() {
                                var div = this.parentElement;
                                div.remove();
                                //console.log(this.parentElement.id);
                                var itemToRemove = this.parentElement.id;
                                var index = selectNameList.indexOf(itemToRemove);
                                if (index !== -1) {
                                    selectNameList.splice(index, 1);
                                }
                            }
                            document.getElementById("member-ul").appendChild(li);
                            selectNameList.push(strMemberCName);
                        }

                    }


                     //寫入表單流程紀錄
                     async function send_approve_mail() {
                       
                        let url = "http://{{ DOMAIN_PATH }}/api/v0/send/internal_project_approve/";
                        let objParam = {
                           "form_no"           : $("#txt-form-no").text(),
                           "project_no"        : $("#txt-project-no").text(),
                           "type"              : "internal_project",
                           "fs_code"           : "fsintg102",
                           "action"            : "指派",
                           "status"            : status?"指派":"退回",
                           "memo"              : status ?  "" :  $("#select-taskback-reason").val() + "," + $("#input-taskback-memo").val(),
                           "user"              : "{{ USER_CNAME }}"
                       };
                     
                       let jsonParam = JSON.stringify(objParam);
                      
                       const res = await fetch(uri, {
                           method: 'post',
                           body: jsonParam,
                           headers: { 'Content-Type': 'application/json; charset=utf-8' }
                       });
                       return await res.json();
                   }



                    //寫入表單流程紀錄
                    async function insert_form_flow(status) {
                       
                       let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/form_flow/"
                       let objParam = {
                           "form_no"           : $("#txt-form-no").text(),
                           "project_no"        : $("#txt-project-no").text(),
                           "type"              : "internal_project",
                           "fs_code"           : "fsintg102",
                           "action"            : "指派",
                           "status"            : status?"指派":"退回",
                           "memo"              : status ?  "" :  $("#select-taskback-reason").val() + "," + $("#input-taskback-memo").val(),
                           "user"              : "{{ USER_CNAME }}"
                       };
                     
                       let jsonParam = JSON.stringify(objParam);
                      
                       const res = await fetch(uri, {
                           method: 'post',
                           body: jsonParam,
                           headers: { 'Content-Type': 'application/json; charset=utf-8' }
                       });
                       return await res.json();
                   }


                     
                    function fileElement(strFileName) {

                            var li = document.createElement("div");
                            li.className = "list-file-item";
                            li.id = strFileName;
                            if(strFileName != null) {
                                // 文字
                                var divobj = document.createElement("div");
                                divobj.className = "text-filename";
                                var t = document.createTextNode(strFileName);
                            
                                divobj.appendChild(t);
                                li.appendChild(divobj);
                                // 刪除按鈕
                                var btn3 = document.createElement("button");
                                btn3.className = "cls-delete-btn-file";

                                var bt3 = document.createTextNode("刪除");
                                btn3.appendChild(bt3);
                                li.appendChild(btn3);
                                btn3.onclick = function() {
                                    var div = this.parentElement;
                                    console.log(this.parentElement)
                                    div.remove();
                                    remove_file(this.parentElement.id).then((response)=>{                                               
                                        layer.msg(response['msg'])
                                    });
                                
                                    var itemToRemove = this.parentElement.id;
                                    var index = selectNameList.indexOf(itemToRemove);
                                    if (index !== -1) {
                                        selectNameList.splice(index, 1);
                                    }
                                }
                                document.getElementById("fileUL").appendChild(li);
                                selectNameList.push(strFileName);
                            }

                    }//fileElement


                    

                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }

                      //切畫面至project_list
                        async function page_to_form_list() {
                                    await sleep(1000);
                                    location.replace('http://{{ DOMAIN_PATH }}/page/v0/form_list/');
                                    //window.location.href = 'http://{{ DOMAIN_PATH }}/page/v0/new_technology_review/';
                        };


                    // 按上傳檔按鈕                
                $("#upload-form").submit(function (event) {
                    event.preventDefault();
                    var formData = new FormData(this);

                    $.ajax({
                        url: "http://{{ DOMAIN_PATH }}/api/v0/spec/upload/?project_no=" + $("#txt-project-no").text(),
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            //檔案上傳成功!
                            console.log(response);
                            var responseObject = JSON.parse(response);
                            var msg = responseObject.msg;
                            if( responseObject.result == 'ok') {
                                console.log(msg);
                                layer.msg(msg);
                                $('#btn-submit').removeClass("layui-btn-disabled").attr("disabled", false);

                                // 成功上傳檔案處理列表
                                //alert(responseObject['data']['file_name']);
                                fileElement(responseObject['data']['file_name']);

                            }else {
                               
                                if($("#txt-project-no").text() == "")
                                {
                                    layer.msg('未選擇BU，上傳失敗');
                                }
                                console.log(msg);
                                layer.msg(msg);
                                $('#btn-submit').addClass("layui-btn-disabled").attr("disabled", true);
                            }
                        },
                        error: function (xhr, status, error) {
                            if($("#txt-project-no").text() == "")
                            {
                                    layer.msg('未選擇BU，上傳失敗');
                            }
                            //layer.msg("上傳失敗");
                            $('#btn-submit').addClass("layui-btn-disabled").attr("disabled", true);
                        }
                    });
                });

                async function remove_file(file_name){
                    let url = "http://{{ DOMAIN_PATH }}/api/v0/spec/remove/?project_no=" + $("#txt-project-no").text() + "&file_name=" + file_name;
                    const res = await fetch(url, {
                            method: 'get',                            
                            headers: { 'Content-Type': 'application/json; charset=utf-8' }
                    });
                    return await res.json();
                } //remove_file


                   //寫入new_project_task
                async function post_new_project_task(objParam) {

                                let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/new_project_task/";                                 
                                let jsonParam = JSON.stringify(objParam);
                                console.log(jsonParam);
                                const res = await fetch(uri, {
                                    method  : 'post',
                                    body    : jsonParam,
                                    headers : { 'Content-Type': 'application/json; charset=utf-8' }
                                });
                                    return await res.json();

                };

                        //寫入internal_project_form
                        async function post_internal_project_form() {
                            
                                //let uri = "http://{{ DOMAIN_PATH }}/page/v0/logout/";
                                let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/internal_project_form/"
                                let objParam = {                                   
                                    "project_no":             $("#txt-project-no").text(),                                   
                                    "form_no":                $("#txt-form-no").text(),
                                    "form_type":              '內部開案單',
                                    "project_name":           $("#input-project-name ").val(),                                  
                                    "project_describe":       $("#input-project-describe").val(),                                   
                                    "spec_describe":          $("#input-spec ").val(),                                 
                                    "expected_finished_date": $("#input-project-finish").val(),
                                    "cost":                   $("#input-target-cost").val(),
                                    "estimate_date":          $("#input-due-day").val(),
                                    "apply_date":             $("#txt-form-date").text(),
                                    "status":                 "未進行",
                                    "member_cname":           "{{ USER_CNAME }}"
                                };
                                let jsonParam = JSON.stringify(objParam);
                                console.log(jsonParam)
                                const res = await fetch(uri, {
                                    method: 'post',
                                    body: jsonParam,
                                    headers: { 'Content-Type': 'application/json; charset=utf-8' }
                                });
                                return await res.json();
                            }
                              

                    function addDate() {
                        var today = new Date();
                        var nowDD = String(today.getDate()).padStart(2, '0');
                        var nowMM = String(today.getMonth() + 1).padStart(2, '0');
                        var nowYYYY = today.getFullYear();
                        strNowDate = nowYYYY + "-" + nowMM + "-" + nowDD;
                        return strNowDate;
                    }
                    var selectNameList = []
                    //取得專案已上傳的檔案
                    async function get_upload_file() {
                        let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/find/upload_file/?project_no=" + "{{INTERNAL_PROJECT_MODEL['project_no']}}";
                        const res = await fetch(uri, {
                            method: 'get',
                            headers: { 'Content-Type': 'application/json; charset=utf-8' }
                        });
                        return await res.json();
                    } //get_upload_file

                    async function get_form_flow() {
                        let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/form_flow/?form_no={{INTERNAL_PROJECT_MODEL['form_no']}}";
                        const res = await fetch(uri, {
                            method: 'get',
                            headers: { 'Content-Type': 'application/json; charset=utf-8' }
                        });
                        return await res.json();
                    }  //get_form_flow


                      //簽核流程title
                    function generate_table_row() {
                        var table_body = document.getElementById('table-body');
                        var table_row  = document.createElement('tr');
                        // 表頭的內容（表頭列名）
                        var headers = [
                            {name :'簽核人員', colSpan : 6},
                            {name :'簽核時間', colSpan : 6},
                            {name :'簽核意見', colSpan : 8} 
                        ];
                        // 動態生成表頭（th）元素並加入到表頭行
                        var rowCount = [2,2,3];
                        for (var i = 0; i < headers.length; i++) {
                            var th = document.createElement('th');
                            th.textContent = headers[i].name;
                            th.setAttribute('colspan', headers[i].colSpan);
                            //th.className = "cls-c" + rowCount[i] +"-r1-h2";  
                            th.className = "cls-c6-r1-h1";  
                            table_row.appendChild(th);
                        }
                        table_body.appendChild(table_row);
                    } //generate_table_row


                     //簽核流程資料
                    function generate_sign_data_row() {
                        var table_body = document.getElementById('table-body');
                        Promise.all([get_form_flow()]).then((response)=> {
                            console.log(response)
                            if(response[0]['result'] == 'ok') {
                                for(let i = 0 ; i<response[0]['data'].length ; i++) {
                                        var tr = document.createElement('tr');
                                        var th = document.createElement('th');
                                        context = [
                                            {'key': response[0]['data'][i]['user'] , colSpan : 6},
                                            {'key': response[0]['data'][i]['inserted_at'], colSpan : 6},
                                            {'key': response[0]['data'][i]['status'] + " : " + response[0]['data'][i]['memo'], colSpan : 8}
                                        ]
                                    // 動態生成表頭（th）元素並加入到表頭行
                                    for (var j = 0; j < context.length; j++) {
                                        var th = document.createElement('th');
                                        th.textContent = context[j].key;
                                        th.setAttribute('colspan', context[j].colSpan) ;
                                        //th.className = "cls-c" +  context[j].colSpan +"-r1-h1";
                                        th.className = "cls-c6-r1-h2";  
                                        tr.appendChild(th);
                                    }
                                    table_body.appendChild(tr);
                                }
                            }
                        });
                    } //generate_sign_data_row

                    generate_table_row();
                    generate_sign_data_row();

                    get_upload_file().then((response)=> {
                        console.log(response);
                        var file_list = response['data'];
                        for(let i = 0 ; i<file_list.length; i++) {
                            testElement(file_list[i]);
                        }
                    });

                      //顯示已上傳的檔案
                    function testElement(strFileName) {
                        var li = document.createElement("div");
                        li.className = "list-file-item";
                        li.id = strFileName;
                        if(strFileName != null) {
                            // 文字
                            var divobj = document.createElement("a");
                            divobj.className = "text-filename";
                            strsplit = strFileName.split('/')
                            //console.log(strsplit[strsplit.length-1])  
                            var t = document.createTextNode(strsplit[strsplit.length-1]);
                            divobj.href = strFileName;
                            //divobj.target = "_blank";
                            divobj.appendChild(t);
                            li.appendChild(divobj);
                            document.getElementById("myUL").appendChild(li);
                            selectNameList.push(strFileName);
                        }
                    }//testElement






        </script>

    </body>

</html>