<!DOCTYPE html>
<html lang="en">

    <head>
        {% include 'common/header.html' %}
        <title>新產品開發申請單</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/new_project_form.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/side_menu.css') }}" />

        <link rel="stylesheet" href="{{ url_for('static', filename='/css/file-check.css') }}" />
        <script src="{{ url_for('static', filename='/js/dom-to-image.js') }}"></script>

    </head>

    <body id="root">

        <!-- 上方主標題欄 -->
        {% include 'common/title_bar.html' %}


        <!-- 左邊側邊導覽列選單區 -->
        {% include 'common/side_menu.html' %}


        <!-- 內容群組區背景 -->
        <div id="div-content-group">

            <!-- 表單標題 -->
            <div id="function-bar"></div>

            <div id="id-table-bg">
                <div id="form-title-text"><b>新產品開發申請單</b></div>

                <!-- 表單 -->
                <table id="id-table-form">

                    <!-- 表單標題 -->
                    <thead id="table-head">
                        <tr>
                            <th colspan="2" rowspan="1" id="lab-applicant"  class="cls-c2-r1">申請人</th>
                            <th colspan="2" rowspan="1" id="txt-applicant"  class="cls-c2-r1">{{USER_CNAME}}</th>
                            <th colspan="2" rowspan="1" id="lab-apply-date"  class="cls-c2-r1">申請日期</th>
                            <th colspan="3" rowspan="1" id="txt-apply-date"  class="cls-c3-r1"></th>
                            <th colspan="2" rowspan="1" id="lab-project-no"  class="cls-c2-r1">專案代號</th> 
                            <th colspan="4" rowspan="1" id="txt-project-no"  class="cls-c4-r1"></th>
                            <th colspan="1" rowspan="1" id="lab-form-no"     class="cls-c1-r1">單號</th>
                            <th colspan="4" rowspan="1" id="txt-form-no"     class="cls-c4-r1"></th>
                        </tr>
                    </thead>

                    <!-- 表單內容 ☐ ☑ -->
                    <tbody id="table-body">
                        <tr>
                            <th colspan="3"  rowspan="1" id="lab-form-class" class="cls-c3-r1">BU</th>
                            <th colspan="1"  rowspan="1" id="box-form-io"    class="cls-c1-r1">
                                <input type="checkbox" id="check-form-io" name="check-form-io" value="IO">
                            </th>
                            <th colspan="2"  rowspan="1" id="lab-form-io"    class="cls-c2-r1">I/O</th>
                            <th colspan="1"  rowspan="1" id="box-form-iot"   class="cls-c1-r1">
                                <input type="checkbox" id="check-form-iot" name="check-form-iot" value="IOT">
                            </th>
                            <th colspan="2"  rowspan="1" id="lab-form-iot"   class="cls-c2-r1">IoT</th>
                            <th colspan="1"  rowspan="1" id="box-form-it"    class="cls-c1-r1">
                                <input type="checkbox" id="check-form-it" name="check-form-it" value="IT">
                            </th>
                            <th colspan="2"  rowspan="1" id="lab-form-it"    class="cls-c10-r1">IT</th>

                            <th colspan="3"  rowspan="1" id="lab-new-tech-project-no"    class="cls-c3-r1">評估案名稱</th>
                            <th colspan="5"  rowspan="1" id="txt-new-tech-project-no"    class="cls-c4-r1">
                                <select id="sel-new-tech-project-name"></select>
                            </th>
                        </tr>

                        <!-- 產品判別 預估上市日期 -->
                        <tr>
                            <th colspan="5"  rowspan="1" id="lab-product-check"  class="cls-c3-r1">產品判別✱</th>
                            <th colspan="5"  rowspan="1" id="txt-product-check"  class="cls-c2-r1">
                                <select id="select-product-check">
                                    <option value="中性">中性</option>
                                    <option value="OEM/ODM">OEM/ODM</option>
                                    <option value="SUNIX標準品">SUNIX標準品</option>
                                </select>
                            </th>
                            <th colspan="5"  rowspan="1" id="lab-product-check"  class="cls-c3-r1">產品預計上市日期</th>
                            <th colspan="5"  rowspan="1" id="txt-product-check"  class="cls-c2-r1">
                                <input type="date" id="input-first-product-date" value="">
                            </th>
                            
                        </tr>
                        <!-- 產品 -->
                        <tr>
                            <th colspan="3"  rowspan="1" id="lab-product"         class="cls-c3-r1">產品</th>
                            <th colspan="3"  rowspan="1" id="lab-product-type-no" class="cls-c3-r1">產品型號✱</th>
                            <th colspan="14"  rowspan="1" id="txt-product-type-no" class="cls-c9-r1">
                                <input type="text" id="input-product-type-no" value="">
                            </th>                            
                         
                        </tr>

                        <!-- 產品規格-->
                        <tr>
                            <th colspan="3"  rowspan="4" id="title-product-spec"  class="cls-c3-r4">產品規格</th>
                            <th colspan="3"  rowspan="1" id="lab-product-name"    class="cls-c3-r1">產品名稱✱</th>
                            <th colspan="14" rowspan="1" id="txt-product-name"    class="cls-c14-r1">
                                <input type="text" id="input-product-name" value="">
                            </th>
                           
                        </tr>

                        <tr>
                            <!--<th colspan="3"  rowspan="1" id="title-product-spec"  class="cls-c3-r1">產品規格</th>-->
                            <th colspan="3"  rowspan="1" id="lab-product-series"  class="cls-c3-r1">產品系列</th>
                            <th colspan="14" rowspan="1" id="txt-product-series"  class="cls-c14-r1">
                                <input type="text" id="input-product-series" value="">
                            </th>
                        </tr>

                        <tr>
                            <!--<th colspan="3"  rowspan="1" id="title-product-spec"      class="cls-c3-r1">產品規格</th>-->
                            <th colspan="3"  rowspan="1" id="lab-product-discription" class="cls-c3-r1">規格說明✱</th>
                            <th colspan="14" rowspan="1" id="txt-product-discription" class="cls-c14-r1">
                                <input type="text" id="input-product-discription" value="">
                            </th>
                        </tr>

                        <tr>
                            <!--<th colspan="3"  rowspan="1" id="title-product-spec"    class="cls-c3-r1">產品規格</th>-->
                            <th colspan="3"  rowspan="1" id="lab-product-certified" class="cls-c3-r1">認證✱</th>
                            <th colspan="14" rowspan="1" id="txt-product-certified" class="cls-c14-r1">
                                <input type="text" id="input-product-certified" value="">
                            </th>
                        </tr>

                        <!-- 目標市場 -->
                        <tr>
                            <th colspan="3"  rowspan="1" id="lab-targeted-market" class="cls-c3-r1">目標市場</th>
                            <th colspan="17" rowspan="1" id="txt-targeted-market" class="cls-c17-r1">
                                <textarea id="input-targeted-market" name="input-targeted-market" rows="3" cols="40" required></textarea>
                            </th>
                        </tr>

                        <!-- 銷售預估 -->
                        <tr>
                            <th colspan="3"  rowspan="3" id="title-sales-estimate" class="cls-c3-r3">銷售預估</th>
                            <th colspan="4"  rowspan="1" id="lab-sale-price"       class="cls-c4-r1">預估銷售價</th>
                            <th colspan="4"  rowspan="1" id="txt-sale-price"       class="cls-c4-r1">
                                <input type="text" id="input-sale-price" value="">
                            </th>
                            <th colspan="4"  rowspan="1" id="lab-annual-count" class="cls-c4-r1">預估年銷數量</th>
                            <th colspan="5"  rowspan="1" id="txt-annual-count" class="cls-c5-r1">
                                <input type="text" id="input-annual-count" value="">
                            </th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-sales-estimate"   class="cls-c3-r1">銷售預估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-annual-performance" class="cls-c4-r1">預估年銷業績</th>
                            <th colspan="4"  rowspan="1" id="txt-annual-performance" class="cls-c4-r1">
                                <input type="text" id="input-annual-performance" value="">
                            </th>
                            <th colspan="4"  rowspan="1" id="lab-profit" class="cls-c4-r1">預估毛利率</th>
                            <th colspan="2"  rowspan="1" id="txt-profit" class="cls-c2-r1">
                                <input type="text" id="input-profit" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-profit" class="cls-c3-r1">%</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-sales-estimate" class="cls-c3-r1">銷售預估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-is-replace"   class="cls-c4-r1">是否有取代舊有產品</th>
                            <th colspan="1"  rowspan="1" id="box-replace-none" class="cls-c1-r1">
                                <input type="checkbox" id="check-replace-none" name="check-replace-none" value="無">
                            </th>
                            <th colspan="1"  rowspan="1" id="lab-replace-none" class="cls-c1-r1">無</th>

                            <th colspan="1"  rowspan="1" id="box-replace-yes" class="cls-c1-r1">
                                <input type="checkbox" id="check-replace-yes" name="check-replace-yes" value="有">
                            </th>
                            <th colspan="1"  rowspan="1" id="lab-replace-yes" class="cls-c1-r1">有</th>

                            <th colspan="4"  rowspan="1" id="lab-replace-type-no" class="cls-c4-r1">產品型號為</th>
                            <th colspan="5"  rowspan="1" id="txt-replace-type-no" class="cls-c5-r1">
                                <input type="text" id="input-replace-type-no" value="">
                            </th>
                        </tr>

                        <!-- 專利評估 -->
                        <tr>
                            <th colspan="3"  rowspan="1" id="lab-patent-evaluation" class="cls-c3-r1">專利評估</th>
                            <th colspan="17" rowspan="1" id="txt-patent-evaluation" class="cls-c17-r1">
                                <textarea id="input-patent-evaluation" name="input-patent-evaluation" rows="3" cols="40" required></textarea>
                            </th>
                        </tr>

                        <!-- 競爭狀況 -->
                        <tr>
                            <th colspan="3"  rowspan="1" id="title-compete"       class="cls-c3-r1">競爭狀況</th>
                            <th colspan="1"  rowspan="1" id="box-compete" class="cls-c1-r1">
                                <input type="checkbox" id="check-compete" name="check-compete" value="有">
                            </th>
                            <th colspan="1"  rowspan="1" id="lab-compete" class="cls-c1-r1">有</th>
                            <th colspan="15" rowspan="1" id="empty-compete" class="cls-c15-r1"></th>
                        </tr>

                        <!-- 研發單位評估 -->
                        <tr>
                            <th colspan="3"  rowspan="9" id="title-rd-evaluation" class="cls-c3-r9">研發單位評估</th>
                            <th colspan="4"  rowspan="1" id="lab-ee-develop-time" class="cls-c4-r1">電子開發部</th>
                            <th colspan="3"  rowspan="1" id="txt-ee-develop-time" class="cls-c3-r1">
                                <input type="text" id="input-ee-develop-time" value="">
                            </th>
                            <th colspan="4"  rowspan="1" id="lab-ee-develop-cost" class="cls-c4-r1">所需工時小時,開發成本</th>
                            <th colspan="3"  rowspan="1" id="txt-ee-develop-cost" class="cls-c3-r1">
                                <input type="text" id="input-ee-develop-cost" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-ee-develop-cost" class="cls-c3-r1">元</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-rd-evaluation"     class="cls-c3-r1">研發單位評估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-ee-develop-schedule" class="cls-c4-r1">預定開發時程</th>
                            <th colspan="1"  rowspan="1" id="lab-ee-develop-from"     class="cls-c1-r1">自</th>
                            <th colspan="4"  rowspan="1" id="txt-ee-develop-from"     class="cls-c4-r1">
                                <input type="date" id="input-ee-develop-from" value="">
                            </th>
                            <th colspan="1"  rowspan="1" id="lab-ee-develop-to"       class="cls-c1-r1">至</th>
                            <th colspan="4"  rowspan="1" id="txt-ee-develop-to"       class="cls-c4-r1">
                                <input type="date" id="input-ee-develop-to" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-ee-develop-to"      class="cls-c3-r1">完成</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-rd-evaluation"  class="cls-c3-r1">研發單位評估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-mec-develop-time" class="cls-c4-r1">機構開發部</th>
                            <th colspan="3"  rowspan="1" id="txt-mec-develop-time" class="cls-c3-r1">
                                <input type="text" id="input-mec-develop-time" value="">
                            </th>
                            <th colspan="4"  rowspan="1" id="lab-mec-develop-cost" class="cls-c4-r1">所需工時小時,開發成本</th>
                            <th colspan="3"  rowspan="1" id="txt-mec-develop-cost" class="cls-c3-r1">
                                <input type="text" id="input-mec-develop-cost" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-mec-develop-cost" class="cls-c3-r1">元</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-rd-evaluation"      class="cls-c3-r1">研發單位評估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-mec-develop-schedule" class="cls-c4-r1">預定開發時程</th>
                            <th colspan="1"  rowspan="1" id="lab-mec-develop-from"     class="cls-c1-r1">自</th>
                            <th colspan="4"  rowspan="1" id="txt-mec-develop-from"     class="cls-c4-r1">
                                <input type="date" id="input-mec-develop-from" value="">
                            </th>
                            <th colspan="1"  rowspan="1" id="lab-mec-develop-to" class="cls-c1-r1">至</th>
                            <th colspan="4"  rowspan="1" id="txt-mec-develop-to" class="cls-c4-r1">
                                <input type="date" id="input-mec-develop-to" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-mec-develop-to" class="cls-c3-r1">完成</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-rd-evaluation"   class="cls-c3-r1">研發單位評估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-soft-develop-time" class="cls-c4-r1">軟體開發部</th>
                            <th colspan="3"  rowspan="1" id="txt-soft-develop-time" class="cls-c3-r1">
                                <input type="text" id="input-soft-develop-time" value="">
                            </th>
                            <th colspan="4"  rowspan="1" id="lab-soft-develop-cost" class="cls-c4-r1">所需工時小時,開發成本</th>
                            <th colspan="3"  rowspan="1" id="txt-soft-develop-cost" class="cls-c3-r1">
                                <input type="text" id="input-soft-develop-cost" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-soft-develop-cost" class="cls-c3-r1">元</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-rd-evaluation"       class="cls-c3-r1">研發單位評估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-soft-develop-schedule" class="cls-c4-r1">預定開發時程</th>
                            <th colspan="1"  rowspan="1" id="lab-soft-develop-from"     class="cls-c1-r1">自</th>
                            <th colspan="4"  rowspan="1" id="txt-soft-develop-from"     class="cls-c3-r1">
                                <input type="date" id="input-soft-develop-from" value="">
                            </th>
                            <th colspan="1"  rowspan="1" id="lab-soft-develop-to" class="cls-c1-r1">至</th>
                            <th colspan="4"  rowspan="1" id="txt-soft-develop-to" class="cls-c4-r1">
                                <input type="date" id="input-soft-develop-to" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-soft-develop-to" class="cls-c1-r1">完成</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-rd-evaluation"     class="cls-c3-r1">研發單位評估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-verify-develop-time" class="cls-c4-r1">設計驗證部</th>
                            <th colspan="3"  rowspan="1" id="txt-verify-develop-time" class="cls-c3-r1">
                                <input type="text" id="input-verify-develop-time" value="">   
                            </th>
                            <th colspan="4"  rowspan="1" id="lab-verify-develop-cost" class="cls-c4-r1">所需工時小時,開發成本</th>
                            <th colspan="3"  rowspan="1" id="txt-verify-develop-cost" class="cls-c3-r1">
                                <input type="text" id="input-verify-develop-cost" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-verify-develop-cost" class="cls-c3-r1">元</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-rd-evaluation"         class="cls-c3-r1">研發單位評估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-verify-develop-schedule" class="cls-c4-r1">預定開發時程</th>
                            <th colspan="1"  rowspan="1" id="lab-verify-develop-from"     class="cls-c1-r1">自</th>
                            <th colspan="4"  rowspan="1" id="txt-verify-develop-from"     class="cls-c3-r1">
                                <input type="date" id="input-verify-develop-from" value="">
                            </th>
                            <th colspan="1"  rowspan="1" id="lab-verify-develop-to" class="cls-c1-r1">至</th>
                            <th colspan="4"  rowspan="1" id="txt-verify-develop-to" class="cls-c4-r1">
                                <input type="date" id="input-verify-develop-to" value="">
                            </th>
                            <th colspan="3"  rowspan="1" id="unit-verify-develop-to" class="cls-c1-r1">完成</th>
                        </tr>

                        <tr>
                            <!-- <th colspan="3"  rowspan="1" id="title-rd-evaluation" class="cls-c3-r1">研發單位評估</th> -->
                            <th colspan="4"  rowspan="1" id="lab-develop-unit"    class="cls-c4-r1">開發單位</th>
                            <th colspan="1"  rowspan="1" id="box-unit-taipei"     class="cls-c1-r1">
                                <input type="checkbox" id="check-unit-taipei" name="check-unit-taipei" value="台北">
                            </th>
                            <th colspan="2"  rowspan="1" id="lab-unit-taipei" class="cls-c2-r1">台北</th>
                            <th colspan="1"  rowspan="1" id="box-unit-shanghai" class="cls-c1-r1">
                                <input type="checkbox" id="check-unit-shanghai" name="check-unit-shanghai" value="上海">
                            </th>
                            <th colspan="2"  rowspan="1" id="lab-unit-shanghai" class="cls-c2-r1">上海</th>
                            <th colspan="1"  rowspan="1" id="box-unit-kunshan" class="cls-c1-r1">
                                <input type="checkbox" id="check-unit-kunshan" name="check-unit-kunshan" value="昆山">
                            </th>
                            <th colspan="6"  rowspan="1" id="lab-unit-kunshan" class="cls-c6-r1">昆山</th>
                        </tr>

                        <!-- 生產單位評估 -->
                        <tr>
                            <th colspan="3"  rowspan="1" id="title-product-evaluation" class="cls-c3-r1">生產單位評估</th>
                            <th colspan="4"  rowspan="1" id="lab-product-area"         class="cls-c4-r1">投產地</th>
                            <th colspan="1"  rowspan="1" id="box-area-xindian" class="cls-c1-r1">
                                <input type="checkbox" id="check-area-xindian" name="check-area-xindian" value="新店廠">
                            </th>
                            <th colspan="2"  rowspan="1" id="lab-area-xindian" class="cls-c2-r1">新店廠</th>
                            <th colspan="1"  rowspan="1" id="box-area-kunshan" class="cls-c1-r1">
                                <input type="checkbox" id="check-area-kunshan" name="check-area-kunshan" value="昆山廠">
                            </th>
                            <th colspan="2"  rowspan="1" id="lab-area-kunshan" class="cls-c2-r1">昆山廠</th>

                            <th colspan="1"  rowspan="1" id="box-area-both" class="cls-c1-r1">
                                <input type="checkbox" id="check-area-both" name="check-area-both" value="兩地皆投">
                            </th>
                            <th colspan="2"  rowspan="1" id="lab-area-both" class="cls-c2-r1">兩地皆投</th>
                            <th colspan="1"  rowspan="1" id="box-area-other" class="cls-c1-r1">
                                <input type="checkbox" id="check-area-other" name="check-area-other" value="其他">
                            </th>
                            <th colspan="3"  rowspan="1" id="lab-area-other" class="cls-c3-r1">其他</th>
                        </tr>

                        <!-- 業務單位評估 -->
                        <tr>
                            <th colspan="3"  rowspan="1" id="title-business-evaluation" class="cls-c3-r1">業務單位評估</th>
                            <th colspan="4"  rowspan="1" id="lab-test-product"          class="cls-c4-r1">第一批試產數量:</th>
                            <th colspan="3"  rowspan="1" id="txt-test-product"   class="cls-c3-r1">
                                <input type="text" id="input-test-product" value="">
                            </th>
                            <th colspan="1"  rowspan="1" id="unit-test-product"  class="cls-c1-r1"></th>
                            <th colspan="9"  rowspan="1" id="empty-test-product" class="cls-c9-r1"></th>
                        </tr>

                        <!-- 行銷單位評估 -->
                        <tr>
                            <th colspan="3"  rowspan="1" id="title-marketing-evaluation"  class="cls-c3-r1">行銷單位評估</th>
                            <th colspan="1"  rowspan="1" id="box-old-package" class="cls-c1-r1">
                                <input type="checkbox" id="check-old-package" name="check-old-package" value="沿用舊包裝">
                            </th>
                            <th colspan="3"  rowspan="1" id="lab-old-package" class="cls-c3-r1">沿用舊包裝</th>

                            <th colspan="1"  rowspan="1" id="box-new-package" class="cls-c1-r1">
                                <input type="checkbox" id="check-new-package" name="check-new-package" value="新設計包裝">
                            </th>
                            <th colspan="3"  rowspan="1" id="lab-new-package" class="cls-c3-r1">新設計包裝</th>

                            <th colspan="1"  rowspan="1" id="box-self-package" class="cls-c1-r1">
                                <input type="checkbox" id="check-self-package" name="check-self-package" value="OEM產品客戶自有包裝">
                            </th>
                            <th colspan="8"  rowspan="1" id="lab-self-package" class="cls-c8-r1">OEM產品客戶自有包裝</th>
                        </tr>

                        <!-- 上傳檔案 -->
                        <tr>
                            <th colspan="3" rowspan="2" id="lab-attach-file"   class="cls-c3-r2">附加檔案✱</th>
                            
                            <th colspan="17" rowspan="1" id="empty-submit" class="cls-c17-r1">
                                <form action="" method=post enctype=multipart/form-data id="upload-form">
                                    <p><input type=file name=file id="btn-file">
                                    <button id="btn-upload" class="layui-btn" lay-event="form-submit" title="上傳檔案">
                                        <i class="layui-icon layui-icon-upload-drag"></i>上傳檔案
                                    </button>
                                </form>
                            </th>
                            
                        </tr>
                        <tr>
                            <!-- <th colspan="3" rowspan="1" id="lab-attach-file"   class="cls-c3-r1">附加檔案✱</th> -->
                            <th colspan="17" rowspan="1" id="file-list" class="cls-c17-r1">
                                <div id="myUL">
                                </div>
                            <th>
                        </tr>




                        <!-- 簽核欄位 -->
                        <!-- <tr>
                            <th colspan="3"  rowspan="1" id="lab-manager"     class="cls-c3-r1">總經裡室</th>
                            <th colspan="3"  rowspan="1" id="txt-manager"     class="cls-c3-r1"></th>
                            <th colspan="3"  rowspan="1" id="lab-leader"      class="cls-c3-r1">單位主管</th>
                            <th colspan="3"  rowspan="1" id="txt-leader"      class="cls-c3-r1"></th>
                            <th colspan="3"  rowspan="1" id="lab-applicant"   class="cls-c3-r1">申請人</th>
                            <th colspan="5"  rowspan="1" id="txt-applicant"   class="cls-c5-r1">{{USER_CNAME}}</th>
                        </tr> -->

                        <th colspan="18" rowspan="1" id="lab-symbol" class="cls-c18-r1">
                            <div id="txt-symbol">✱ 為必填欄位</div>
                        </th>
                        <th colspan="2" rowspan="1" id="lab-submit-button" class="cls-c2-r1">
                            <button id="btn-submit" class="layui-btn layui-btn-normal layui-btn-disabled" title="送出資料">
                                <i class="layui-icon layui-icon-email"></i>送出
                            </button>
                        </th>


                        <tr>
                            <td colspan="1" class="c-base" id="c-1"></td>
                            <td colspan="1" class="c-base" id="c-2"></td>
                            <td colspan="1" class="c-base" id="c-3"></td>
                            <td colspan="1" class="c-base" id="c-4"></td>
                            <td colspan="1" class="c-base" id="c-5"></td>
                            <td colspan="1" class="c-base" id="c-6"></td>
                            <td colspan="1" class="c-base" id="c-7"></td>
                            <td colspan="1" class="c-base" id="c-8"></td>
                            <td colspan="1" class="c-base" id="c-9"></td>
                            <td colspan="1" class="c-base" id="c-10"></td>

                            <td colspan="1" class="c-base" id="c-11"></td>
                            <td colspan="1" class="c-base" id="c-12"></td>
                            <td colspan="1" class="c-base" id="c-13"></td>
                            <td colspan="1" class="c-base" id="c-14"></td>
                            <td colspan="1" class="c-base" id="c-15"></td>
                            <td colspan="1" class="c-base" id="c-16"></td>
                            <td colspan="1" class="c-base" id="c-17"></td>
                            <td colspan="1" class="c-base" id="c-18"></td>
                            <td colspan="1" class="c-base" id="c-19"></td>
                            <td colspan="1" class="c-base" id="c-20"></td>
                        </tr>

                    </tbody>

                </table>


            </div>

        </div>


    <script>
        var selectNameList = [];

        //取得所有評估案專案代號
        async function get_all_new_tech_name() {            
           
        url = "http://{{ DOMAIN_PATH }}/api/v0/db/all_new_tech_project_name/";
           
           const res = await fetch(url, {
               method: 'get',
               headers: { 'Content-Type': 'application/json; charset=utf-8' }
           });
           return await res.json();
       }
      
       if("{{NEW_TECH_MODEL['project_name']}}" != "")
       {
            var str_Options = '<option value="' + "{{NEW_TECH_MODEL['project_name']}}" + '">' + "{{NEW_TECH_MODEL['project_name']}}" + '</option>';
            document.getElementById("sel-new-tech-project-name").innerHTML =str_Options;
            const $select_item = document.querySelector('#sel-new-tech-project-name'); 
            const $option_item = Array.from($select_item.options);           
            const option_item = $option_item.find(el => el.text =="{{NEW_TECH_MODEL['project_name']}}");          
            option_item.selected = true;
       }
       else
       {

                    get_all_new_tech_name().then((response)=> {
                            var strProjectNo_Options = '<option value="' + '無' + '">' + '無' + '</option>';
                            console.log(response);
                            
                            let list = response['data']['project_name'];
                            for(let i = 0 ; i<list.length ; i++)
                            {
                                strProjectNo_Options += '<option value="' + list[i] + '">' + list[i] + '</option>';
                            }
                            //console.log(strProjectNo_Options);
                            document.getElementById("sel-new-tech-project-name").innerHTML =strProjectNo_Options;

                    });
                
       }
          
         

       


        /////////////////////////////////////////
        //var myNodelist = document.getElementsByTagName("LI");
        var myNodelist = document.getElementById("myUL");

        for (var i = 0; i < myNodelist.length; i++) {
            var span = document.createElement("SPAN");
            var txt  = document.createTextNode("\u00D7");
            //var divtag = document.createElement("DIV");
            //var image = document.createElement('img');
            //image.src = "http://{{ DOMAIN_PATH }}/static/assets/delete.png";
            //image.alt = '刪除';
            //divtag.className = "close";
            //divtag.id = "close_btn";
            //image.id = "img-btn";
            //divtag.appendChild(image);
            //myNodelist[i].appendChild(divtag);
            span.className = "close";
            span.appendChild(txt);
            myNodelist[i].appendChild(span);
        }
        var close = document.getElementsByClassName("close");
        //var close = document.getElementById("img-btn");

        for (var j = 0; j < close.length; j++) {
            close[j].onclick = function() {
                var div = this.parentElement;
                //div.style.display = "none";
                div.remove();
            }
        }
        //var list = document.querySelector('ul');
        var list = document.querySelector('div');
        var fileNameList = [];

        // 建立新的列表資訊
        function newElement(strFileName) {

                    if( selectNameList.includes(strFileName))
                        return;
                    var li = document.createElement("div");
                    li.className = "list-file-item";
                    li.id = strFileName;
                    if(strFileName != null) {
                        // 文字
                        var divobj = document.createElement("div");
                        divobj.className = "text-filename";
                        var t = document.createTextNode(strFileName);
                    
                        divobj.appendChild(t);
                        li.appendChild(divobj);
                        // 刪除按鈕
                        var btn3 = document.createElement("button");
                        btn3.className = "cls-delete-btn-file";

                        var bt3 = document.createTextNode("刪除");
                        btn3.appendChild(bt3);
                        li.appendChild(btn3);
                        btn3.onclick = function() {
                            var div = this.parentElement;
                            div.remove();
                            //console.log(this.parentElement.id);
                            var itemToRemove = this.parentElement.id;
                            remove_file(this.parentElement.id).then((response)=>{                                               
                                                layer.msg(response['msg'])
                                        });
                            var index = selectNameList.indexOf(itemToRemove);
                            if (index !== -1) {
                                selectNameList.splice(index, 1);
                            }
                        }
                        document.getElementById("myUL").appendChild(li);
                        selectNameList.push(strFileName);
                    }

        }//newElement

        async function remove_file(file_name){
                    let url = "http://{{ DOMAIN_PATH }}/api/v0/spec/remove/?project_no=" + $("#txt-project-no").text() + "&file_name=" + file_name;
                    const res = await fetch(url, {
                            method: 'get',                            
                            headers: { 'Content-Type': 'application/json; charset=utf-8' }
                    });
                    return await res.json();
        }//remove_file

        // 按上傳檔按鈕
        $("#upload-form").submit(function (event) {
            event.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: "http://{{ DOMAIN_PATH }}/api/v0/spec/upload/?project_no=" + $("#txt-project-no").text(),
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    //檔案上傳成功!
                    console.log(response);
                    var responseObject = JSON.parse(response);
                    var msg = responseObject.msg;
                    if( responseObject.result == 'ok') {
                        console.log(msg);
                        layer.msg(msg);
                        $('#btn-submit').removeClass("layui-btn-disabled").attr("disabled", false);

                        // 成功上傳檔案處理列表
                        //alert(responseObject['data']['file_name']);
                        newElement(responseObject['data']['file_name']);

                    }else {
                        if($("#txt-project-no").text() == "")
                        {
                            layer.msg('未選擇BU，上傳失敗');
                        }
                        else
                        {
                            layer.msg(msg);  
                        }
                        console.log(msg);                                
                        $('#btn-submit').addClass("layui-btn-disabled").attr("disabled", true);
                    }
                },
                error: function (xhr, status, error) {
                    if($("#txt-project-no").text() == "")
                    {
                        layer.msg('未選擇BU，上傳失敗');
                    }
                    else
                    {
                        layer.msg(msg);  
                    }
                    console.log(msg);              
                    //layer.msg("上傳失敗");
                    $('#btn-submit').addClass("layui-btn-disabled").attr("disabled", true);
                }
            });
        });






        //顯示申請日期
        $("#txt-apply-date").text(
            addDate()
        );

        function addDate() {
            var today   = new Date();
            var nowDD   = String(today.getDate()).padStart(2, '0');
            var nowMM   = String(today.getMonth() + 1).padStart(2, '0');
            var nowYYYY = today.getFullYear();
            strNowDate  = nowYYYY + "-" + nowMM + "-" + nowDD;
            return strNowDate;
        }


       


        //產生表單編號
        async function general_form_no()
        {
            let url = "http://{{DOMAIN_PATH}}/api/v0/db/new_project_form_no/";
            const res = await fetch(url, {
                method: 'get',                               
                headers: { 'Content-Type': 'application/json; charset=utf-8' }
            });
            return await res.json();
        }
        let post_form_code= general_form_no();
        post_form_code.then((response)=> {
            console.log(response);
            $("#txt-form-no").text(response);
        });


        //按下送出按鈕
        $("#btn-submit").click(async ()=> {

             //#region 卡控是否上傳附件
            let project_no = $("#txt-project-no").text();
                    let url = "http://{{ DOMAIN_PATH }}/api/v0/db/find/upload_file/?project_no="  + project_no ;
                   // console.log(url)
                    const response = await fetch(url);
                    const res = await response.json();
                    //console.log(res['data'].length)

                    if(res['data'].length == 0)
                    {
                        layer.msg("未上傳附件，請確認");
                        return;
                    }
                   
            //#endregion

            // if ($('#check-IT').is(':checked') == false && $('#check-IO').is(':checked') == false && $('#check-IOT').is(':checked') == false) {
            //     layer.msg("BU未選取，請確認");
            //     return;
            // }

            if ($("#input-product-type-no").val() == "") {
                layer.msg("產品型號未輸入，請確認");
                return;
            }

            if ($("#input-product-name").val() == "") {
                layer.msg("產品名稱未輸入，請確認");
                return;
            }

            // if ($("#input-spec").val() == "") {
            //     layer.msg("規格需求說明未輸入，請確認");
            //     return;
            // }

            // if ($("#input-due-day").val() == "") {
            //     layer.msg("評估期限未選擇，請確認");
            //     return;
            // }

            //取bu
            function get_bu() {

                // let bu = new Object();
                // bu['io'    ] = document.querySelector("#check-form-io"    ).checked;
                // bu['iot'] = document.querySelector("#check-form-iot").checked;         
                // bu['it'] = document.querySelector("#check-form-it").checked;                 

                if ($('#check-form-iot').is(':checked')) {
                        bu = $('#check-form-iot').val();
                } else if ($('#check-form-io').is(':checked')) {
                        bu = $('#check-form-io').val();
                } else if ($('#check-form-io').is(':checked')) {
                        bu = $('#check-form-io').val();
                }
                return bu;
                
            }


            //取表單欄位 是否有取代舊有產品
            function get_check_replace() {

                let check_replace = new Object();
                check_replace['replace-none'    ] = document.querySelector("#check-replace-none"    ).checked;
                check_replace['replace-yes'] = document.querySelector("#check-replace-yes").checked;              

                return check_replace;

             
            }

            //取開發單位
            function get_develop_unit() {              

                let develop_unit = new Object();
                develop_unit['taipei'    ] = document.querySelector("#check-unit-taipei"    ).checked;
                develop_unit['shanghai'] = document.querySelector("#check-unit-shanghai").checked;
                develop_unit['kunshan'   ] = document.querySelector("#check-unit-kunshan"   ).checked;

                return develop_unit;
            }

            //取投產地
            function get_place_of_production() {

                let place_of_production = new Object();
                place_of_production['xindian'    ] = document.querySelector("#check-area-xindian"    ).checked;
                place_of_production['kunshan'] = document.querySelector("#check-area-kunshan").checked;
                place_of_production['area-both'   ] = document.querySelector("#check-area-both"   ).checked;
                place_of_production['area-other'   ] = document.querySelector("#check-area-other"   ).checked;
                return place_of_production;
               
            }

            //取行銷單位評估
            function get_markting_evaluate() {

                let markting_evaluate = new Object();
                markting_evaluate['old-package'    ] = document.querySelector("#check-old-package"    ).checked;
                markting_evaluate['new-package'] = document.querySelector("#check-new-package").checked;
                markting_evaluate['self-package'   ] = document.querySelector("#check-self-package"   ).checked;
                
                return markting_evaluate;
              
            }

            //取競爭狀況
            function get_compete_status() {

                let compete_status = new Object();
                compete_status['compete'    ] = document.querySelector("#check-compete"    ).checked;
                return compete_status;
               
            }


            layer.open({
                type: 1,
                skin: 'layui-layer-molv', //layui-layer-rim
                resize: true,
                shadeClose: false,
                shade: [0.7, '#000'],
                closeBtn: 2,
                offset: 'auto',
                anim: 5,
                area: ['400px', '280px'],
                title: ['詢問', 'font-size:24px;background-color:#1E9FFF;'],
                btn: ['確定', '取消'],
                content: '<div style="padding: 15px; font-size: 22px; font-weight: bold;">您確定要將表單資料送出嗎？<br><br><div id="view-txt-msg"></div></div>',
                success: function (layero, index) {
                    //addIconforBtn(1);
                },
                yes: function (index, layero) {

                    async function post_new_project_form() {

                        let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/new_project_form/"
                        let objParam = {
                            "new_tech_project_no"            : $('#sel-new-tech-project-name option:selected ').text(),
                            "form_no"                        : $('#txt-form-no').text(),
                            "form_type"                      : 'pm開案單',
                            "bu"                             : get_bu(),
                            "project_no"                     : $('#txt-project-no').text(),
                            "project_name"                   : $('#sel-new-tech-project-name option:selected ').text(),
                            "product_name"                   : $('#input-product-name').val(),
                            "product_no"                     : $('#input-product-type-no').val(),
                            "product_series"                 : $('#input-product-series').val(),
                            "product-check"                  : $('#select-product-check').val(),
                            "spec_describe"                  : $('#input-product-discription').val(),
                            "product_certified"              : $('#input-product-certified').val(),
                            "target_markting"                : $('#input-targeted-market').val(),
                            "estimate_price"                 : $('#input-sale-price').val(),
                            "estimate_pcs"                   : $('#input-annual-count').val(),
                            "estimate_sale_performance_year" : $('#input-annual-performance').val(),
                            "estimate_profit_margin"         : $('#input-profit').val(),
                            "replace_product_flag"           : get_check_replace(),
                            "replace_product"                : $('#input-replace-type-no').val(),
                            "compete_status"                 : get_compete_status(),
                            "patent_evaluate"                : $('#input-patent-evaluation').val(),
                            "work_hour_ee"                   : $('#input-ee-develop-time').val(),
                            "cost_ee"                        : $('#input-ee-develop-cost').val(),
                            "start_date_ee"                  : $('#input-ee-develop-from').val(),
                            "end_date_ee"                    : $('#input-ee-develop-to').val(),
                            "work_hour_me"                   : $('#input-mec-develop-time').val(),
                            "cost_me"                        : $('#input-mec-develop-cost').val(),
                            "start_date_me"                  : $('#input-mec-develop-from').val(),
                            "end_date_me"                    : $('#input-mec-develop-to').val(),
                            "work_hour_sw"                 : $('#input-soft-develop-time').val(),
                            "cost_sw"                      : $('#input-soft-develop-cost').val(),
                            "start_date_sw"                : $('#input-soft-develop-from').val(),
                            "end_date_sw"                  : $('#input-soft-develop-to').val(),
                            "work_hour_ds"                  : $('#input-verify-develop-time').val(),
                            "cost_ds"                       : $('#input-verify-develop-cost').val(),
                            "start_date_ds"                 : $('#input-verify-develop-from').val(),
                            "end_date_ds"                   : $('#input-verify-develop-to').val(),
                            "develop_unit"                   : get_develop_unit(),
                            "place_of_production"            : get_place_of_production(),
                            "product_count_first"            : $('#input-test-product').val(),
                            "markting_evaluate"              : get_markting_evaluate(),
                            "member_cname"                   : "{{USER_CNAME}}",
                            "apply_date"                     : $('#txt-apply-date').text(),
                            "first_product_date"             : $('#input-first-product-date').val(),
                            "member_list"                    : [],
                        };
                            
                        let jsonParam = JSON.stringify(objParam); 
                        const res = await fetch(uri, {
                            method: 'post',
                            body: jsonParam,
                            headers: { 'Content-Type': 'application/json; charset=utf-8' }
                        });
                        return await res.json();
                    }
                    let promise_post = post_new_project_form();
                    promise_post.then((response) => {
                        console.log(response);
                        layer.close(index);

                        if (response['result'] == 'ok') {

                        }
                    });

                
                insert_form_flow();

                async function send_mail() {


                    //let uri = "http://{{ DOMAIN_PATH }}/page/v0/logout/";
                    let uri = "http://{{ DOMAIN_PATH }}/api/v0/send/new_project_form/"
                    let objParam = {
                                "project_no"            : $('#txt-project-no').text(),
                                "product_no"            :  $('#input-product-type-no').val(),
                                "first_product_date"    : $('#input-first-product-date').val(),
                                "sender"                : "{{ ACCOUNT }}",
                                "receiver"              : "{{RECEIVER}}",
                                "cc"                    : "{{RECEIVER}}",
                        };
                    let jsonParam = JSON.stringify(objParam);
                    console.log(jsonParam)
                    const res = await fetch(uri, {
                                    method: 'post',
                                    body: jsonParam,
                                    headers: { 'Content-Type': 'application/json; charset=utf-8' }
                    });
                                return await res.json();
                }
                let promise_send_mail = send_mail();
                promise_send_mail.then((response) => {
                        console.log(response);
                        layer.close(index);
                        page_to_form_list();
                });


                }

            });


        }); //#btn-submit

                

                    //當IOT Checkbok勾選 其餘checkbox狀態為false
                $("#check-form-iot").click(function () {
                    $("#txt-project-no").text("");
                    $("#check-form-io").prop("checked", false)
                    $("#check-form-it").prop("checked", false)
                    
                    Promise.all([general_project_no("IOT")]).then((response)=>{
                        $("#txt-project-no").text(response);
                    });
                  

                });//check-IOT


                //按下IO的checkbox
                $("#check-form-it").click(function () {
                    $("#txt-project-no").text("");
                    $("#check-form-iot").prop("checked", false)
                    $("#check-form-io").prop("checked", false)
                   
                   
                    Promise.all([general_project_no("IT")]).then((response)=>{
                        $("#txt-project-no").text(response);
                    });

                });//check-IT


                //按下IT的checkbox
                $("#check-form-io").click(function () {
                    $("#txt-project-no").text("");
                    $("#check-form-iot").prop("checked", false)
                    $("#check-form-it").prop("checked", false)

                    Promise.all([general_project_no("IO")]).then((response)=>{
                        $("#txt-project-no").text(response);
                    });
                   
                });//check-IO
                

                async function insert_form_flow() {
                       
                       let uri = "http://{{ DOMAIN_PATH }}/api/v0/db/form_flow/"
                       let objParam = {
                           "form_no"           : $("#txt-form-no").text(),
                           "project_no"        : $("#txt-project-no").text(),
                           "type"              : "new_project",
                           "fs_code"           : "fsprog101",
                           "action"            : "申請",
                           "status"            : "申請",
                           "memo"              : "",
                           "user"              : "{{ USER_CNAME }}"
                       };
                       
                       let jsonParam = JSON.stringify(objParam);
                      
                       const res = await fetch(uri, {
                           method: 'post',
                           body: jsonParam,
                           headers: { 'Content-Type': 'application/json; charset=utf-8' }
                       });
                       return await res.json();
                   }


                   function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }

                //切畫面至project_list
                async function page_to_form_list() {
                            await sleep(1000);
                            location.replace('http://{{ DOMAIN_PATH }}/page/v0/form_list/');
                            //window.location.href = 'http://{{ DOMAIN_PATH }}/page/v0/new_technology_review/';
                };


                  //產生專案代號
                async function general_project_no(BU)
                {
                    let url = "http://{{DOMAIN_PATH}}/api/v0/db/new_project_no/?bu=" + BU ;
                    console.log(url);
                    console.log("UUUUUUUUUUUUU")
                    const res = await fetch(url, {
                        method: 'get',
                        headers: { 'Content-Type': 'application/json; charset=utf-8' }
                    });
                    return await res.json();
                }
               
        </script>

    </body>

</html>